@charset "UTF-8";
/* --------- mixins --------- */
/* --------- mixins --------- */
/* --------- variables --------- */
/* --------- variables --------- */
/* colors */
/* --------- fonts --------- */
@font-face {
  font-family: 'SeroOffcPro-Medium';
  src: url("../fonts/SeroOffcPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SeroOffcPro-Medium.woff") format("woff"), url("../fonts/SeroOffcPro-Medium.ttf") format("truetype"), url("../fonts/SeroOffcPro-Medium.svg#SeroOffcPro-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SeroOffcPro-Light';
  src: url("../fonts/SeroOffcPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SeroOffcPro-Light.woff") format("woff"), url("../fonts/SeroOffcPro-Light.ttf") format("truetype"), url("../fonts/SeroOffcPro-Light.svg#SeroOffcPro-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SeroOffcPro-Bold';
  src: url("../fonts/SeroOffcPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SeroOffcPro-Bold.woff") format("woff"), url("../fonts/SeroOffcPro-Bold.ttf") format("truetype"), url("../fonts/SeroOffcPro-Bold.svg#SeroOffcPro-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helioscondcbold';
  src: url("../fonts/helioscondbold-webfont.eot");
  src: url("../fonts/helioscondbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helioscondbold-webfont.woff") format("woff"), url("../fonts/helioscondbold-webfont.ttf") format("truetype"), url("../fonts/helioscondbold-webfont.svg#helioscondcbold") format("svg");
  font-weight: normal;
  font-style: normal; }

/* --------- sections --------- */
/* стили по умолчанию */
a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

address {
  font-style: normal; }

input, textarea {
  outline: none;
  border: none; }

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  height: 100%;
  position: relative;
  font-family: "SeroOffcPro-Light";
  font-size: 13px;
  line-height: 16px;
  color: #616369; }

h1 {
  margin: 0;
  padding: 0; }

/* чтобы прибить футер к низу */
.main {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: table; }
  .main--content {
    display: table-row;
    height: 100%; }

/* defaul style end  */
.slick-dots li button {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #fff; }
  .slick-dots li button:before {
    display: none; }

.slick-dots li.slick-active button {
  background: #fff; }

.wrapper {
  width: 1000px;
  margin: 0 auto; }

.header__top {
  background: #e6e7e8;
  padding: 5px 0; }
  .header__top:before, .header__top:after {
    content: " ";
    display: table; }
  .header__top:after {
    clear: both; }

.header__contacts {
  float: right;
  font-size: 12px;
  line-height: 15px; }

.header__phone {
  display: inline-block; }

.header__mail {
  display: inline-block;
  margin: 0 27px;
  font-family: "SeroOffcPro-Medium";
  text-decoration: underline; }
  .header__mail:hover {
    text-decoration: underline; }
  .header__mail:hover {
    text-decoration: none; }

.header__languages {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0; }

.header__language {
  display: inline-block;
  border-right: 1px solid #616369;
  padding: 3px 5px 0;
  font-size: 12px; }
  .header__language:last-child {
    border: 0; }
  .header__language-link {
    font-family: "SeroOffcPro-Bold";
    text-decoration: underline; }
    .header__language-link:hover {
      text-decoration: none; }

.header__main {
  padding-top: 16px; }
  .header__main:before, .header__main:after {
    content: " ";
    display: table; }
  .header__main:after {
    clear: both; }

.header__logo {
  float: left; }

.header__nav {
  float: right; }

.header__item {
  padding-top: 75px;
  display: inline-block;
  margin-left: 22px;
  position: relative; }

.header__link {
  font-family: "SeroOffcPro-Medium";
  font-size: 11px;
  line-height: 16px;
  display: block;
  position: relative;
  padding-bottom: 16px; }
  .header__link-title {
    text-transform: uppercase;
    display: block; }
  .header__link-icon {
    width: 20px;
    height: 20px;
    background: url("../img/header-link.png") 0 0 no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 60px;
    display: none; }
  .header__link:hover .header__link-title {
    color: #cd2c2c;
    font-weight: bold; }
  .header__link:hover .header__submenu {
    display: block; }
  .header__link:hover .header__link-icon {
    display: block; }

.header__submenu {
  width: 250px;
  display: none;
  position: absolute;
  background: #e6e7e8;
  top: 100%;
  padding: 17px 15px 15px;
  z-index: 10; }
  .header__submenu:before {
    content: '';
    display: block;
    border: 7px solid transparent;
    border-top: 7px solid #fff;
    position: absolute;
    top: 0;
    left: 12px; }
  .header__submenu-link {
    display: block;
    font-size: 14px;
    font-family: "SeroOffcPro-Medium";
    margin-bottom: 7px; }
    .header__submenu-link:last-child {
      margin-bottom: 0; }
    .header__submenu-link:hover {
      color: #cd2c2c;
      text-decoration: underline; }
      .header__submenu-link:hover:before {
        content: '';
        border: 4px solid transparent;
        border-left: 4px solid #fff;
        display: inline-block;
        vertical-align: middle;
        margin-right: 3px; }

.footer {
  width: 100%;
  background: #616369;
  padding-bottom: 27px;
  padding-top: 18px;
  color: #f4f3f2;
  font-size: 11px;
  line-height: 18px; }
  .footer:before, .footer:after {
    content: " ";
    display: table; }
  .footer:after {
    clear: both; }
  .footer__left {
    float: left; }
  .footer__logo {
    margin-bottom: 55px; }
  .footer__address {
    margin-bottom: 20px; }
  .footer__mail {
    text-decoration: underline; }
    .footer__mail:hover {
      text-decoration: none; }
  .footer__right {
    float: right; }
  .footer__menu-block {
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
    margin-top: 40px;
    font-size: 11px; }
    .footer__menu-block:hover .footer__menu-title {
      font-weight: bold; }
  .footer__menu-title {
    text-transform: uppercase;
    padding-bottom: 6px;
    margin-bottom: 10px;
    border-bottom: 1px solid #cd2c2c;
    display: block; }
    .footer__menu-title--padding {
      padding-top: 17px; }
  .footer__submenu-item {
    margin-bottom: 6px;
    line-height: 14px;
    position: relative;
    width: 100px; }
    .footer__submenu-item:hover {
      padding-left: 10px;
      text-decoration: underline; }
      .footer__submenu-item:hover:before {
        content: '';
        border: 4px solid transparent;
        border-left: 4px solid #cd2c2c;
        display: inline-block;
        position: absolute;
        top: 1px;
        left: 0; }
  .footer__name {
    margin-top: 15px;
    float: right; }

.main-block {
  color: #f4f3f2;
  max-width: 1500px;
  margin: 0 auto; }
  .main-block__slide {
    height: 632px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center 0;
    padding-top: 85px;
    outline: 0; }
  .main-block .slick-dots {
    bottom: 240px; }
  .main-block__content {
    width: 320px; }
  .main-block__title {
    font-family: "helioscondcbold";
    text-transform: uppercase;
    font-size: 60px;
    line-height: 45px;
    border-bottom: 3px solid #f4f3f2;
    border-top: 3px solid #f4f3f2;
    padding: 15px 0 7px;
    margin-bottom: 25px; }
    .main-block__title--span {
      font-size: 40px; }
  .main-block__subtitle {
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 23px; }
  .main-block__social {
    font-size: 18px;
    line-height: 22px; }
    .main-block__social:before {
      content: '';
      background: url(../img/tick.png) 0 0 no-repeat;
      width: 14px;
      height: 14px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px; }

@media screen and (max-width: 1024px) {
  .main-block {
    max-width: 1024px; } }

.main-content {
  background: #fff;
  width: 1100px;
  margin: 0 auto;
  margin-top: -244px;
  padding-top: 22px;
  position: relative; }
  .main-content__block {
    display: flex;
    justify-content: space-between; }
    .main-content__block--products .main-content__info {
      height: 230px;
      color: #fff; }
      .main-content__block--products .main-content__info:after {
        content: '';
        width: 100%;
        height: 55px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(33, 34, 37, 0.7);
        opacity: 0; }
      .main-content__block--products .main-content__info:hover .main-content__info-text {
        visibility: visible;
        height: 181px; }
      .main-content__block--products .main-content__info:hover .main-content__info-link {
        opacity: 1;
        transition: opacity .6s; }
  .main-content__info {
    position: relative; }
    .main-content__info--470 {
      flex-basis: 470px; }
    .main-content__info--320 {
      flex-basis: 320px;
      margin-bottom: 20px; }
    .main-content__info-title {
      font-size: 18px;
      line-height: 19mpx;
      text-transform: uppercase;
      background: rgba(33, 34, 37, 0.7);
      padding: 18px 0 15px 18px;
      position: relative; }
      .main-content__info-title:after {
        content: '';
        display: inline-block;
        border: 7px solid transparent;
        border-top: 7px solid rgba(33, 34, 37, 0.7);
        position: absolute;
        top: 100%;
        left: 20px; }
    .main-content__info-text {
      background: rgba(33, 34, 37, 0.7);
      height: 0;
      padding: 0 18px;
      padding-right: 25px;
      font-size: 14px;
      line-height: 18px;
      position: relative;
      height: 0;
      visibility: hidden;
      transition: all linear .3s;
      overflow: hidden; }
    .main-content__info-link {
      position: absolute;
      text-decoration: underline;
      bottom: 25px;
      left: 0;
      margin-left: 18px;
      opacity: 0;
      transition: opacity .1s;
      z-index: 10; }
      .main-content__info-link:after {
        content: '';
        width: 18px;
        height: 18px;
        background: url(../img/catalog.png) 0 0 no-repeat;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px; }
      .main-content__info-link:hover {
        text-decoration: none; }
  .main-content__text {
    font-size: 18px;
    line-height: 22px; }
    .main-content__text-red {
      color: #cd2c2c;
      font-family: "SeroOffcPro-Medium"; }
  .main-content__title {
    border-bottom: 1px solid #cd2c2c;
    padding-bottom: 5px;
    font-size: 14px;
    font-family: "SeroOffcPro-Medium";
    margin-bottom: 18px; }
    .main-content__title--margin {
      margin-top: -17px; }
    .main-content__title-link {
      text-decoration: underline; }
      .main-content__title-link:before {
        content: '';
        display: inline-block;
        vertical-align: top;
        width: 14px;
        height: 14px;
        background: url(../img/red-tick.png) 0 0 no-repeat;
        margin-right: 5px; }
      .main-content__title-link:hover {
        color: #cd2c2c; }
  .main-content__map {
    display: block;
    margin-top: -12px;
    margin-bottom: -20px; }
  .main-content__search {
    position: relative;
    display: inline-block;
    margin-bottom: 15px; }
    .main-content__search-input {
      width: 333px;
      padding: 1px 10px 0;
      font-size: 12px;
      line-height: 22px;
      height: 26px;
      color: #8b8a8a;
      border: 1px solid #8b8a8a;
      position: relative;
      z-index: 1; }
    .main-content__search-button {
      width: 15px;
      height: 15px;
      background: url(../img/search.jpg) 0 0 no-repeat;
      position: absolute;
      z-index: 2;
      right: 7px;
      top: 5px;
      display: block;
      border: none; }
  .main-content__item {
    border-bottom: 1px solid #cd2c2c;
    padding-right: 15px;
    margin-bottom: 10px;
    position: relative; }
    .main-content__item--first {
      margin-top: -7px; }
    .main-content__item-title {
      font-family: "helioscondcbold";
      color: #cd2c2c;
      font-size: 27px;
      line-height: 30px;
      text-transform: uppercase;
      margin-bottom: 5px; }
    .main-content__item-text {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 13px; }
    .main-content__item-link {
      font-family: "SeroOffcPro-Medium";
      text-decoration: underline; }
      .main-content__item-link:hover {
        color: #cd2c2c; }
      .main-content__item-link--more {
        font-size: 14px;
        line-height: 17px;
        display: block;
        margin-top: 13px; }
        .main-content__item-link--more:after {
          content: '';
          width: 16px;
          height: 16px;
          background: url(../img/more.jpg) 0 0 no-repeat;
          display: inline-block;
          vertical-align: middle;
          margin-left: 7px; }
    .main-content__item-img {
      position: absolute;
      top: 0;
      left: 0; }
  .main-content__info--effective {
    flex-basis: 235px; }
  .main-content__info--services {
    flex-basis: 660px; }
    .main-content__info--services .main-content__item {
      position: relative;
      border: 0;
      padding: 0;
      outline: 0; }
      .main-content__info--services .main-content__item:before {
        content: '';
        width: 99px;
        height: 99px;
        background: url(../img/services.jpg) 0 0 no-repeat;
        position: absolute;
        top: 8px;
        left: 0; }
      .main-content__info--services .main-content__item-title {
        color: #616369;
        margin-bottom: 10px; }
      .main-content__info--services .main-content__item-text {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px; }
  .main-content__info--support {
    flex-basis: 454px; }
  .main-content__info--technical {
    flex-basis: 454px; }
    .main-content__info--technical .main-content__item {
      padding-left: 45px;
      border: 0;
      margin-bottom: 20px; }
    .main-content__info--technical .main-content__item-title {
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      text-decoration: underline;
      color: #616369;
      margin-bottom: 3px;
      display: inline-block; }
      .main-content__info--technical .main-content__item-title:hover {
        color: #cd2c2c; }
  .main-content__slider {
    width: 660px; }
    .main-content__slider.slick-slider {
      margin-bottom: 53px; }
  .main-content__press {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px; }
    .main-content__press-block {
      flex-basis: 320px;
      height: 230px;
      padding: 16px 27px 18px 18px;
      position: relative;
      overflow: hidden; }
      .main-content__press-block--anons {
        background: #e6e7e8; }
        .main-content__press-block--anons:before {
          content: '';
          background: url(../img/press-triangle.jpg) 0 0 no-repeat;
          width: 31px;
          height: 31px;
          display: block;
          position: absolute;
          top: 0;
          right: 0; }
      .main-content__press-block:hover.main-content__press-block--anons:before {
        background: url(../img/press-triangle-hover.jpg) 0 0 no-repeat; }
      .main-content__press-block:hover .main-content__press-move {
        top: 0; }
    .main-content__press-move {
      background: rgba(33, 34, 37, 0.7);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 148px;
      left: 0;
      padding: 15px 27px 18px 18px;
      color: #e6e7e8;
      transition: linear top .2s; }
    .main-content__press-time {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 5px;
      font-family: "SeroOffcPro-Medium"; }
    .main-content__press-title {
      font-size: 16px;
      line-height: 19px;
      font-family: "SeroOffcPro-Medium";
      margin-bottom: 10px; }
    .main-content__press-text {
      font-size: 14px;
      line-height: 17px; }
    .main-content__press-link {
      position: absolute;
      bottom: 22px;
      left: 18px;
      font-family: "SeroOffcPro-Medium";
      font-size: 14px;
      line-height: 17px;
      text-decoration: underline; }
      .main-content__press-link:after {
        content: '';
        background: url(../img/press-tick.png) 0 0 no-repeat;
        width: 18px;
        height: 18px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 2px; }
      .main-content__press-link:hover {
        color: #cd2c2c; }
        .main-content__press-link:hover:after {
          background: url(../img/press-tick-hover.png) 0 0 no-repeat; }
  .main-content__slide-top {
    padding-left: 115px;
    padding-right: 90px;
    position: relative;
    padding-top: 3px; }
  .main-content__slide-img {
    margin-top: 15px;
    display: block;
    width: 100%;
    outline: 0;
    height: 298px; }
  .main-content .slick-dots {
    bottom: 19px; }
  .main-content__calculator-top {
    border-bottom: 1px solid #939393; }
  .main-content__calculator-button {
    display: inline-block;
    vertical-align: top;
    width: 190px;
    height: 58px;
    border: 0;
    background: transparent;
    padding: 8px 22px 10px 18px;
    text-align: left;
    margin-right: 18px;
    color: #616369;
    font-size: 14px;
    line-height: 18px;
    outline: 0; }
    .main-content__calculator-button:last-child {
      width: 138px;
      margin-right: 0; }
    .main-content__calculator-button span {
      border-bottom: 1px dashed #616369; }
    .main-content__calculator-button:hover span {
      border-bottom: 1px solid transparent; }
    .main-content__calculator-button.active {
      color: #cd2c2c;
      background: #f0f0f0; }
      .main-content__calculator-button.active span {
        border-bottom: 1px solid transparent; }
  .main-content__calculator-bottom {
    padding-top: 25px; }
  .main-content__calculator-form {
    padding-bottom: 26px; }
    .main-content__calculator-form--calculation {
      display: none; }
  .main-content__calculator-block {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 18px; }
    .main-content__calculator-block--last {
      margin-right: 0; }
  .main-content__calculator-text {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 6px; }
  .main-content__calculator-input {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #939393;
    padding: 8px 5px;
    margin-right: 7px; }
  .main-content__calculator-red {
    display: inline-block;
    vertical-align: bottom;
    font-size: 14px;
    line-height: 18px;
    color: #cd2c2c;
    margin-right: 10px; }
  .main-content__calculator-inputKg {
    display: inline-block;
    vertical-align: bottom;
    border: 1px solid #939393;
    text-align: right;
    width: 70px;
    padding: 8px 5px;
    margin-right: 6px; }
  .main-content__calculator-kg {
    display: inline-block;
    vertical-align: bottom;
    font-size: 36px;
    line-height: 42px;
    color: #cd2c2c;
    font-family: "helioscondcbold";
    margin-right: 20px; }
  .main-content__calculator-calculate {
    display: inline-block;
    vertical-align: bottom;
    width: 185px;
    height: 36px;
    color: #fff;
    font-size: 14px;
    line-height: 34px;
    border: 0;
    background: #bdbdbd; }
    .main-content__calculator-calculate:hover {
      background: #cd2c2c; }

.js-interactive {
  display: none; }
