@charset "UTF-8";
/* --------- mixins --------- */
/* --------- mixins --------- */
/* --------- variables --------- */
/* --------- variables --------- */
/* colors */
/* --------- fonts --------- */
@font-face {
  font-family: 'SeroOffcPro-Medium';
  src: url("../fonts/SeroOffcPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SeroOffcPro-Medium.woff") format("woff"), url("../fonts/SeroOffcPro-Medium.ttf") format("truetype"), url("../fonts/SeroOffcPro-Medium.svg#SeroOffcPro-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'SeroOffcPro-Light';
  src: url("../fonts/SeroOffcPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SeroOffcPro-Light.woff") format("woff"), url("../fonts/SeroOffcPro-Light.ttf") format("truetype"), url("../fonts/SeroOffcPro-Light.svg#SeroOffcPro-Light") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helioscondcbold';
  src: url("../fonts/helioscondbold-webfont.eot");
  src: url("../fonts/helioscondbold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helioscondbold-webfont.woff") format("woff"), url("../fonts/helioscondbold-webfont.ttf") format("truetype"), url("../fonts/helioscondbold-webfont.svg#helioscondcbold") format("svg");
  font-weight: normal;
  font-style: normal; }

/* --------- sections --------- */
/* стили по умолчанию */
a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

address {
  font-style: normal; }

input, textarea {
  outline: none;
  border: none; }

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  height: 100%;
  position: relative;
  font-family: "SeroOffcPro-Light";
  font-size: 13px;
  line-height: 16px;
  color: #616369; }

h1 {
  margin: 0;
  padding: 0; }

.product_category {
  padding-top: 20px; }

/* чтобы прибить футер к низу */
.main {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: table;
  position: relative;
  padding-top: 150px; }
  .main--content {
    display: table-row;
    height: 100%; }

.mail-link {
  text-decoration: underline; }
  .mail-link:hover {
    color: #cd2c2c;
    font-weight: bold;
    text-decoration: none; }

/* defaul style end  */
.slick-dots li button {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #fff; }
  .slick-dots li button:before {
    display: none; }

.slick-dots li.slick-active button {
  background: #fff; }

.before-red:before {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 14px;
  height: 14px;
  background: url(../img/red-tick.png) 0 0 no-repeat;
  margin-right: 5px; }

.title-grey {
  font-family: "helioscondcbold";
  font-size: 27px;
  line-height: 30px;
  color: #616369;
  text-transform: uppercase;
  margin-bottom: 20px; }

.fz-16 {
  font-size: 16px;
  line-height: 19px; }

.bold {
  font-weight: bold; }

.mb-5 {
  margin-bottom: 5px; }

.pt-10 {
  padding-top: 10px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-28 {
  margin-bottom: 28px !important; }

.db {
  display: block; }

.mt-20 {
  margin-top: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.my-30 {
  margin-bottom: 30px;
  margin-top: 30px; }

.mt-25 {
  margin-top: 25px; }

.mt-50 {
  margin-top: 50px; }

.mb-50 {
  margin-bottom: 50px; }

.mr-80 {
  margin-right: 80px; }

.w-150 {
  width: 150px; }

.w-335 {
  width: 335px; }

.w-240 {
  width: 240px; }

.w-360 {
  width: 360px; }

.w-270 {
  width: 270px; }

.w-340 {
  width: 340px; }

.w-380 {
  width: 380px; }

.p-y-9 {
  padding-top: 9px;
  padding-bottom: 10px; }

.p-t-9 {
  padding-top: 9px; }

.p-b-5 {
  padding-bottom: 5px; }

.p-l-8 {
  padding-left: 8px; }

.bd-t-grey {
  border-top: 1px solid #616369; }

.bd-b-grey {
  border-bottom: 1px solid #616369; }

.bd-tb-grey {
  border-top: 1px solid #616369;
  border-bottom: 1px solid #616369; }

.td-u {
  text-decoration: underline; }
  .td-u:hover {
    text-decoration: none; }

.align-middle {
  vertical-align: middle !important; }

.pdf-red {
  font-weight: bold; }
  .pdf-red:after {
    content: '';
    width: 31px;
    height: 32px;
    background: url("../img/pdf-red.jpg") 0 0 no-repeat;
    display: inline-block;
    margin-left: 18px;
    margin-bottom: -4px; }
  .pdf-red:hover {
    color: #cd2c2c; }

.link {
  font-weight: bold;
  text-decoration: underline; }
  .link:hover {
    text-decoration: none; }

.table {
  display: table;
  width: 100%; }

.table-row {
  display: table-row; }

.table-cell {
  display: table-cell; }

.bg-grey {
  background: #f4f4f4; }

.m-lr-10 {
  margin-left: 10px;
  margin-right: 10px; }

.mr--20 {
  margin-right: -20px; }

.min-infoBlock {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  height: 197px;
  position: relative;
  outline: 0; }
  .min-infoBlock--links {
    display: inline-block;
    vertical-align: top;
    width: 120px;
    margin-right: 50px;
    margin-left: -10px; }
  .min-infoBlock--link {
    display: block;
    margin-bottom: 12px;
    text-decoration: underline; }
    .min-infoBlock--link:hover {
      text-decoration: none;
      color: #cd2c2c;
      font-weight: bold; }
    .min-infoBlock--link:after {
      content: '';
      background: url("../img/pdf-red.jpg") 0 0 no-repeat;
      width: 24px;
      height: 24px;
      background-size: cover;
      display: block; }
  .min-infoBlock--top {
    background: #636466;
    color: #fff;
    text-decoration: underline;
    padding: 6px 20px 8px 7px;
    font-size: 16px;
    line-height: 19px;
    display: block;
    text-align: left;
    min-height: 50px; }
    .min-infoBlock--top:hover {
      text-decoration: none; }
      .min-infoBlock--top:hover .min-infoBlock--hover {
        visibility: visible;
        height: auto;
        font-size: 14px; }
  .min-infoBlock--hover {
    margin-top: 8px;
    text-decoration: none;
    visibility: hidden;
    height: 0; }

.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.jc-sb {
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.jc-fs {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .jc-fs .min-infoBlock {
    margin-right: 20px; }
    .jc-fs .min-infoBlock:last-child {
      margin-right: 0; }

.bold {
  font-weight: bold; }

.hidden {
  display: none; }

.h-bd-t {
  cursor: pointer; }
  .h-bd-t:hover {
    border-bottom: 1px solid transparent; }

.bdb-dashed {
  border-bottom: 1px dashed #616369; }

.fw-w {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .fw-w .min-infoBlock {
    margin-right: 20px;
    margin-bottom: 20px; }

.filter__title {
  color: #616369;
  font-size: 27px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "helioscondcbold";
  margin-bottom: 15px; }

.main-content__title-big {
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 10px; }

.tech_info__slider {
  margin: 6px 0 25px;
  width: 980px;
  display: inline-block;
  padding-left: 20px; }
  .tech_info__slider .main-content__press-block {
    margin: 0 5px; }
  .tech_info__slider .slick-arrow {
    height: 230px;
    opacity: 1;
    z-index: 10; }
    .tech_info__slider .slick-arrow:before {
      display: none; }
    .tech_info__slider .slick-arrow:hover {
      background-color: #74767d; }
  .tech_info__slider .slick-prev {
    background: #adaeb3 url(../img/prev.png) center center no-repeat;
    left: 0; }
  .tech_info__slider .slick-next {
    background: #adaeb3 url(../img/next.png) center center no-repeat;
    right: -20px; }
  .tech_info__slider .main-content__press-title {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 0; }
  .tech_info__slider .main-content__press-text {
    font-size: 14px;
    line-height: 17px; }
  .tech_info__slider .main-content__press-move {
    padding-top: 8px;
    padding-right: 8px; }

a.instructions {
  display: inline-block;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 17px;
  color: #585857;
  border-bottom: 1px dashed #585857;
  font-weight: bold; }
  a.instructions:hover {
    border-bottom: 1px solid transparent; }
  a.instructions:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    border: 4px solid transparent;
    border-top: 4px solid #585857;
    margin-left: 5px;
    margin-top: 3px; }

.text-xs-right {
  text-align: right;
  width: 100%; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.license {
  display: inline-block;
  vertical-align: top;
  width: 490px;
  margin-right: 5px;
  margin-bottom: 15px; }
  .license__img {
    border: 1px solid #a1a1a1;
    padding: 2px; }
  .license__img, .license__block {
    display: inline-block;
    vertical-align: top; }
  .license__block {
    width: 370px;
    margin-left: 15px; }
  .license__title {
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
    margin-bottom: 10px; }
  .license__text {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px; }
  .license__link {
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    text-decoration: underline;
    display: inline-block;
    cursor: pointer; }
    .license__link:hover {
      text-decoration: none;
      color: #cd2c2c; }
    .license__link:after {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 18px;
      height: 18px;
      background: url("../img/loupe.jpg") 0 0 no-repeat;
      margin-left: 8px; }

.slick-next, .slick-prev {
  z-index: 1; }
  .slick-next:before, .slick-prev:before {
    font-size: 0 !important;
    width: 27px;
    height: 27px;
    display: block; }

.slick-next {
  right: 20px; }

.slick-prev {
  left: 20px; }

.slick-next:before {
  background: url("../img/slick-next.png") center center no-repeat; }

.slick-prev:before {
  background: url("../img/slick-prev.png") center center no-repeat; }

.wrapper {
  width: 1000px;
  margin: 0 auto;
  position: relative; }

@media screen and (max-width: 1120px) {
  .wrapper {
    width: 980px; } }

.header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #e6e7e8; }
  .header__top {
    background: #e6e7e8;
    padding: 5px 0; }
    .header__top:before, .header__top:after {
      content: " ";
      display: table; }
    .header__top:after {
      clear: both; }
  .header__contacts {
    float: right;
    font-size: 12px;
    line-height: 15px; }
  .header__phone {
    display: inline-block; }
  .header__mail {
    display: inline-block;
    margin: 0 27px;
    font-family: "SeroOffcPro-Medium";
    text-decoration: underline; }
    .header__mail:hover {
      text-decoration: underline; }
    .header__mail:hover {
      color: #cd2c2c;
      text-decoration: none; }
  .header__languages {
    display: inline-block;
    text-transform: uppercase;
    font-size: 0; }
  .header__language {
    display: inline-block;
    border-right: 1px solid #616369;
    padding: 3px 5px 0;
    font-size: 12px; }
    .header__language:last-child {
      border: 0; }
    .header__language-link {
      font-family: "SeroOffcPro-Medium";
      text-decoration: underline; }
      .header__language-link:hover {
        color: #cd2c2c;
        text-decoration: none; }
  .header__main {
    padding-top: 0;
    background: #fff; }
    .header__main:before, .header__main:after {
      content: " ";
      display: table; }
    .header__main:after {
      clear: both; }
  .header__logo {
    float: left;
    height: 86px;
    margin-top: 16px; }
  .header__nav {
    float: right; }
  .header__item {
    padding-top: 70px;
    display: inline-block;
    margin-left: 22px;
    position: relative; }
  .header__link {
    font-family: "SeroOffcPro-Medium";
    font-size: 11px;
    line-height: 16px;
    display: block;
    position: relative;
    padding-bottom: 16px; }
    .header__link-title {
      text-transform: uppercase;
      display: block; }
    .header__link.active .header__link-title {
      color: #cd2c2c;
      font-weight: bold;
      pointer-events: none;
      cursor: default; }
    .header__link.active .header__link-icon {
      display: block; }
    .header__link-icon {
      width: 20px;
      height: 20px;
      background: url("../img/header-link.png") 0 0 no-repeat;
      position: absolute;
      bottom: 0;
      left: 0;
      margin-bottom: 60px;
      display: none; }
    .header__link:hover .header__link-title {
      color: #cd2c2c;
      font-weight: bold; }
    .header__link:hover .header__submenu {
      display: block; }
    .header__link:hover .header__link-icon {
      display: block; }
  .header__submenu {
    width: 250px;
    display: none;
    position: absolute;
    background: #e6e7e8;
    top: 100%;
    padding: 17px 15px 15px;
    z-index: 10;
    white-space: nowrap; }
    .header__submenu:before {
      content: '';
      display: block;
      border: 7px solid transparent;
      border-top: 7px solid #fff;
      position: absolute;
      top: 0;
      left: 12px; }
    .header__submenu-link {
      display: block;
      font-size: 14px;
      font-family: "SeroOffcPro-Medium";
      margin-bottom: 7px; }
      .header__submenu-link:last-child {
        margin-bottom: 0; }
      .header__submenu-link:hover {
        color: #cd2c2c;
        text-decoration: underline; }
        .header__submenu-link:hover:before {
          content: '';
          border: 4px solid transparent;
          border-left: 4px solid #fff;
          display: inline-block;
          vertical-align: middle;
          margin-right: 3px; }

.footer {
  width: 100%;
  background: #616369;
  padding-bottom: 27px;
  padding-top: 18px;
  color: #f4f3f2;
  font-size: 11px;
  line-height: 18px; }
  .footer:before, .footer:after {
    content: " ";
    display: table; }
  .footer:after {
    clear: both; }
  .footer__left {
    float: left; }
  .footer__logo {
    margin-bottom: 55px; }
  .footer__address {
    margin-bottom: 20px; }
  .footer__mail {
    text-decoration: underline; }
    .footer__mail:hover {
      text-decoration: none; }
  .footer__right {
    float: right; }
  .footer__menu-block {
    display: inline-block;
    vertical-align: top;
    margin-left: 25px;
    margin-top: 40px;
    font-size: 11px; }
    .footer__menu-block:hover .footer__menu-title {
      font-weight: bold; }
  .footer__menu-title {
    text-transform: uppercase;
    padding-bottom: 6px;
    margin-bottom: 10px;
    border-bottom: 1px solid #cd2c2c;
    display: block; }
    .footer__menu-title--padding {
      padding-top: 17px; }
  .footer__submenu-item {
    margin-bottom: 6px;
    line-height: 14px;
    position: relative;
    width: 100px; }
    .footer__submenu-item:hover {
      padding-left: 10px;
      text-decoration: underline; }
      .footer__submenu-item:hover:before {
        content: '';
        border: 4px solid transparent;
        border-left: 4px solid #cd2c2c;
        display: inline-block;
        position: absolute;
        top: 1px;
        left: 0; }
  .footer__name {
    margin-top: -7px;
    float: right;
    text-align: right; }
    .footer__name a {
      text-decoration: underline; }
      .footer__name a:hover {
        text-decoration: none; }

.top-block {
  color: #f4f3f2;
  height: 320px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center 150px;
  background-attachment: fixed; }
  .top-block__block {
    position: absolute;
    width: 1000px;
    height: 320px;
    margin: 0 auto;
    outline: 0;
    clip: rect(auto, 9000px, auto, auto); }
  .top-block .wrapper {
    position: fixed;
    top: 180px;
    left: 0px;
    padding: 1em;
    width: 1000px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .top-block .child.pink {
    background-color: pink; }
  .top-block__content {
    width: 590px; }
  .top-block__title {
    border-bottom: 2px solid #f4f3f2;
    border-top: 2px solid #f4f3f2;
    padding: 17px 0 15px;
    margin-bottom: 25px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 24px; }
  .top-block__subtitle {
    font-size: 16px;
    line-height: 20px; }
  .top-block__link {
    color: #d2d2d2;
    text-decoration: underline; }
    .top-block__link:hover {
      text-decoration: none; }

@media screen and (max-width: 1000px) {
  .top-block .wrapper {
    position: relative;
    top: 30px; } }

.popup {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  outline: 0;
  border: 0;
  top: 0;
  left: 0;
  display: none; }
  .popup .link:hover {
    color: #cd2c2c; }
  .popup__block {
    width: 960px;
    padding: 30px 45px 50px;
    background: #fff;
    position: absolute;
    top: 100px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .popup__content {
    width: 580px;
    position: relative; }
  .popup .popup__close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: url("../img/popup-close.png") 0 0 no-repeat; }
    .popup .popup__close:hover {
      background: url("../img/popup-close-hover.png") 0 0 no-repeat; }
  .popup__input {
    line-height: 31px;
    color: #b4b4b4;
    border: 1px solid #939393;
    padding: 0 6px; }
  .popup__button {
    display: block;
    width: 185px;
    line-height: 33px;
    background: #616369;
    color: #fff;
    margin-bottom: 50px; }
    .popup__button:hover {
      background: #cd2c2c; }

body.js-hidden {
  overflow: hidden; }
  body.js-hidden .js-popup {
    overflow-y: auto; }

.main-block {
  color: #f4f3f2;
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }
  .main-block__slide {
    height: 632px;
    background-repeat: no-repeat;
    background-position: center 0;
    padding-top: 85px;
    outline: 0; }
  .main-block .slick-dots {
    bottom: 275px;
    display: inline-block !important;
    width: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .main-block__content {
    width: 320px; }
  .main-block__title {
    font-family: "helioscondcbold";
    text-transform: uppercase;
    font-size: 60px;
    line-height: 45px;
    border-bottom: 3px solid #f4f3f2;
    border-top: 3px solid #f4f3f2;
    padding: 15px 0 7px;
    margin-bottom: 25px; }
    .main-block__title--span {
      font-size: 40px; }
  .main-block__subtitle {
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 23px; }
  .main-block__social {
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    position: relative;
    z-index: 9;
    display: inline-block; }
    .main-block__social:hover {
      text-decoration: none; }
    .main-block__social:before {
      content: '';
      background: url(../img/tick.png) 0 0 no-repeat;
      width: 14px;
      height: 14px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px; }

@media screen and (max-width: 1000px) {
  .main-block {
    width: 1000px; } }

.main-content {
  background: #fff;
  width: 1100px;
  margin: 0 auto;
  margin-top: -271px;
  padding-top: 22px;
  position: relative; }
  .main-content__block {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .main-content__block--wrap {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .main-content__block--products .main-content__info {
      height: 230px;
      color: #fff; }
      .main-content__block--products .main-content__info:after {
        content: '';
        width: 100%;
        height: 55px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: rgba(33, 34, 37, 0.7);
        opacity: 0; }
      .main-content__block--products .main-content__info:hover .main-content__info-text {
        visibility: visible;
        height: 181px; }
      .main-content__block--products .main-content__info:hover .main-content__info-link {
        opacity: 1;
        transition: opacity .6s; }
  .main-content__info {
    position: relative; }
    .main-content__info-subtitle {
      text-transform: none;
      margin-top: 5px; }
    .main-content__info--470 {
      -webkit-flex-basis: 470px;
      -ms-flex-preferred-size: 470px;
      flex-basis: 470px; }
    .main-content__info--320 {
      -webkit-flex-basis: 320px;
      -ms-flex-preferred-size: 320px;
      flex-basis: 320px;
      margin-bottom: 20px; }
    .main-content__info-title {
      font-size: 18px;
      line-height: 22px;
      text-transform: uppercase;
      background: rgba(33, 34, 37, 0.7);
      padding: 13px 0 15px 18px;
      position: relative; }
      .main-content__info-title:after {
        content: '';
        display: inline-block;
        border: 7px solid transparent;
        border-top: 7px solid rgba(33, 34, 37, 0.7);
        position: absolute;
        top: 100%;
        left: 20px; }
    .main-content__info-text {
      background: rgba(33, 34, 37, 0.7);
      height: 0;
      padding: 0 18px;
      padding-right: 25px;
      font-size: 14px;
      line-height: 18px;
      position: relative;
      height: 0;
      visibility: hidden;
      transition: all linear .3s;
      overflow: hidden; }
    .main-content__info-link {
      position: absolute;
      text-decoration: underline;
      bottom: 25px;
      left: 0;
      margin-left: 18px;
      opacity: 0;
      transition: opacity .1s;
      z-index: 10;
      font-weight: bold; }
      .main-content__info-link:after {
        content: '';
        width: 18px;
        height: 18px;
        background: url(../img/catalog.png) 0 0 no-repeat;
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px; }
      .main-content__info-link:hover {
        color: #cd2c2c; }
        .main-content__info-link:hover:after {
          background: url(../img/press-tick-hover.png) 0 0 no-repeat; }
  .main-content__text {
    font-size: 18px;
    line-height: 22px; }
    .main-content__text-red {
      color: #cd2c2c;
      font-family: "SeroOffcPro-Medium"; }
  .main-content__title {
    border-bottom: 1px solid #cd2c2c;
    padding-bottom: 5px;
    font-size: 14px;
    font-family: "SeroOffcPro-Medium";
    margin-bottom: 18px; }
    .main-content__title--margin {
      margin-top: -17px; }
    .main-content__title--grey {
      color: #98999d; }
    .main-content__title-link {
      text-decoration: underline; }
      .main-content__title-link:before {
        content: '';
        display: inline-block;
        vertical-align: top;
        width: 14px;
        height: 14px;
        background: url(../img/red-tick.png) 0 0 no-repeat;
        margin-right: 5px; }
      .main-content__title-link:hover {
        color: #cd2c2c;
        text-decoration: none; }
  .main-content__map {
    display: block;
    margin-top: -12px;
    margin-bottom: -20px; }
  .main-content__search {
    position: relative;
    display: inline-block;
    margin-bottom: 15px; }
    .main-content__search-input {
      width: 333px;
      padding: 1px 10px 0;
      font-size: 12px;
      line-height: 22px;
      height: 26px;
      color: #8b8a8a;
      border: 1px solid #8b8a8a;
      position: relative;
      z-index: 1; }
    .main-content__search-button {
      width: 15px;
      height: 15px;
      background: url(../img/search.jpg) 0 0 no-repeat;
      position: absolute;
      z-index: 2;
      right: 7px;
      top: 5px;
      display: block;
      border: none; }
  .main-content__item {
    border-bottom: 1px solid #cd2c2c;
    padding-right: 15px;
    margin-bottom: 10px;
    position: relative; }
    .main-content__item--first {
      margin-top: -7px; }
    .main-content__item-title {
      font-family: "helioscondcbold";
      color: #cd2c2c;
      font-size: 27px;
      line-height: 30px;
      text-transform: uppercase;
      margin-bottom: 5px; }
    .main-content__item-text {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 13px; }
    .main-content__item-link {
      font-family: "SeroOffcPro-Medium";
      text-decoration: underline; }
      .main-content__item-link:hover {
        color: #cd2c2c; }
      .main-content__item-link--more {
        font-size: 14px;
        line-height: 17px;
        display: block;
        margin-top: 13px; }
        .main-content__item-link--more:after {
          content: '';
          width: 16px;
          height: 16px;
          background: url(../img/more.jpg) 0 0 no-repeat;
          display: inline-block;
          vertical-align: middle;
          margin-left: 7px; }
    .main-content__item-img {
      position: absolute;
      top: 0;
      left: 0; }
  .main-content__info--effective {
    -webkit-flex-basis: 235px;
    -ms-flex-preferred-size: 235px;
    flex-basis: 235px; }
  .main-content__info--services {
    -webkit-flex-basis: 660px;
    -ms-flex-preferred-size: 660px;
    flex-basis: 660px; }
    .main-content__info--services .main-content__item {
      position: relative;
      border: 0;
      padding: 0;
      outline: 0; }
      .main-content__info--services .main-content__item:before {
        content: '';
        width: 99px;
        height: 99px;
        background: url(../img/services.jpg) 0 0 no-repeat;
        position: absolute;
        top: 8px;
        left: 0; }
      .main-content__info--services .main-content__item-title {
        color: #616369;
        margin-bottom: 10px; }
      .main-content__info--services .main-content__item-text {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px; }
  .main-content__info--support {
    -webkit-flex-basis: 454px;
    -ms-flex-preferred-size: 454px;
    flex-basis: 454px; }
  .main-content__info--technical {
    -webkit-flex-basis: 454px;
    -ms-flex-preferred-size: 454px;
    flex-basis: 454px; }
    .main-content__info--technical .main-content__item {
      padding-left: 45px;
      border: 0;
      margin-bottom: 20px; }
    .main-content__info--technical .main-content__item-title {
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      text-decoration: underline;
      color: #616369;
      margin-bottom: 3px;
      display: inline-block; }
      .main-content__info--technical .main-content__item-title:hover {
        color: #cd2c2c;
        text-decoration: none; }
  .main-content__slider {
    width: 660px; }
    .main-content__slider.slick-slider {
      margin-bottom: 53px; }
  .main-content__press {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px; }
    .main-content__press-block {
      width: 320px;
      height: 230px;
      position: relative;
      overflow: hidden;
      margin-bottom: 20px; }
      .main-content__press-block--anons {
        background: #e6e7e8;
        padding: 15px 27px 18px 18px; }
        .main-content__press-block--anons:before {
          content: '';
          background: url(../img/press-triangle.jpg) 0 0 no-repeat;
          width: 31px;
          height: 31px;
          display: block;
          position: absolute;
          top: 0;
          right: 0; }
      .main-content__press-block:hover.main-content__press-block--anons:before {
        background: url(../img/press-triangle-hover.jpg) 0 0 no-repeat; }
      .main-content__press-block:hover .main-content__press-move {
        top: 0; }
    .main-content__press-move {
      background: rgba(33, 34, 37, 0.7);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 148px;
      left: 0;
      padding: 15px 27px 18px 18px;
      color: #e6e7e8;
      transition: linear top .2s;
      padding: 16px 27px 18px 18px; }
    .main-content__press-time {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 5px;
      font-family: "SeroOffcPro-Medium"; }
    .main-content__press-title {
      font-size: 16px;
      line-height: 19px;
      font-family: "SeroOffcPro-Medium";
      margin-bottom: 10px; }
    .main-content__press-text {
      font-size: 14px;
      line-height: 17px; }
    .main-content__press-link {
      position: absolute;
      bottom: 22px;
      left: 18px;
      font-family: "SeroOffcPro-Medium";
      font-size: 14px;
      line-height: 17px;
      text-decoration: underline; }
      .main-content__press-link:after {
        content: '';
        background: url(../img/press-tick.png) 0 0 no-repeat;
        width: 18px;
        height: 18px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 2px; }
      .main-content__press-link:hover {
        color: #cd2c2c;
        text-decoration: none; }
        .main-content__press-link:hover:after {
          background: url(../img/press-tick-hover.png) 0 0 no-repeat; }
  .main-content__slide-top {
    padding-left: 115px;
    padding-right: 90px;
    position: relative;
    padding-top: 3px; }
  .main-content__slide-img {
    margin-top: 15px;
    display: block;
    width: 100%;
    outline: 0;
    height: 298px; }
  .main-content .slick-dots {
    bottom: 19px; }
  .main-content__calculator {
    height: 240px; }
    .main-content__calculator-top {
      border-bottom: 1px solid #939393; }
    .main-content__calculator-button {
      display: inline-block;
      vertical-align: top;
      width: 190px;
      height: 58px;
      border: 0;
      background: transparent;
      padding: 8px 22px 10px 18px;
      text-align: left;
      margin-right: 18px;
      color: #616369;
      font-size: 14px;
      line-height: 18px;
      outline: 0; }
      .main-content__calculator-button:last-child {
        width: 138px;
        margin-right: 0; }
      .main-content__calculator-button span {
        border-bottom: 1px dashed #616369; }
      .main-content__calculator-button:hover span {
        border-bottom: 1px solid transparent;
        color: #cd2c2c; }
      .main-content__calculator-button.active {
        color: #cd2c2c;
        background: #f0f0f0; }
        .main-content__calculator-button.active span {
          border-bottom: 1px solid transparent; }
    .main-content__calculator-bottom {
      padding-top: 25px; }
    .main-content__calculator-form {
      padding-bottom: 26px; }
      .main-content__calculator-form--calculation {
        display: none; }
    .main-content__calculator-block {
      display: inline-block;
      vertical-align: top;
      margin-right: 15px;
      margin-bottom: 18px; }
      .main-content__calculator-block--last {
        margin-right: 0; }
    .main-content__calculator-text {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 6px; }
    .main-content__calculator-input {
      display: inline-block;
      vertical-align: middle;
      border: 1px solid #939393;
      padding: 8px 5px;
      margin-right: 7px;
      width: 160px; }
      .main-content__calculator-input--kg {
        width: 70px;
        text-align: right; }
    .main-content__calculator-red {
      display: inline-block;
      vertical-align: bottom;
      font-size: 14px;
      line-height: 18px;
      color: #cd2c2c;
      margin-right: 10px; }
    .main-content__calculator-inputKg {
      display: inline-block;
      vertical-align: bottom;
      border: 1px solid #939393;
      text-align: right;
      width: 70px;
      padding: 8px 5px;
      margin-right: 6px; }
    .main-content__calculator-kg {
      display: inline-block;
      vertical-align: bottom;
      font-size: 36px;
      line-height: 42px;
      color: #cd2c2c;
      font-family: "helioscondcbold";
      margin-right: 20px; }
    .main-content__calculator-calculate {
      display: inline-block;
      vertical-align: bottom;
      width: 185px;
      height: 36px;
      color: #fff;
      font-size: 14px;
      line-height: 34px;
      border: 0;
      background: #bdbdbd; }
      .main-content__calculator-calculate:hover {
        background: #cd2c2c; }

.js-interactive {
  display: none; }

@media screen and (max-width: 1120px) {
  .main-content {
    width: 1024px;
    padding: 25px 0 0; } }

@media screen and (max-width: 1040px) {
  .main-content {
    width: 100%; } }

.about-first {
  padding-top: 44px;
  padding-bottom: 70px;
  color: #e6e7e8;
  background: url(../img/about-first-block.jpg) center 170px no-repeat;
  background-attachment: fixed; }
  .about-first__title {
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    width: 590px;
    padding: 15px 0 18px;
    margin-bottom: 35px; }
  .about-first__text {
    font-size: 16px;
    line-height: 20px;
    width: 590px; }
  .about-first__strong {
    font-family: "SeroOffcPro-Medium"; }

.about-geography:before, .about-geography:after {
  content: " ";
  display: table; }

.about-geography:after {
  clear: both; }

.about-geography__map {
  width: 758px;
  height: 432px;
  float: left;
  position: relative; }

.about-geography__popup {
  width: 182px;
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px;
  background: #fff;
  border: 1px solid #828282; }
  .about-geography__popup:after {
    content: '';
    width: 22px;
    height: 19px;
    display: block;
    background: url(../img/map-tick.png) 0 0 no-repeat;
    position: absolute;
    bottom: -18px;
    left: 30px; }
  .about-geography__popup-title {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 6px;
    font-family: "SeroOffcPro-Medium"; }
  .about-geography__popup-text {
    font-size: 11px;
    line-height: 15px; }

.about-geography__red {
  position: absolute;
  top: 20px;
  left: 30px; }
  .about-geography__red-big {
    top: 20px;
    left: 100px; }

.about-geography__img {
  display: block; }

.about-geography__right {
  width: 220px;
  float: right; }

.about-geography__title {
  font-size: 18px;
  line-height: 21px;
  color: #cd2c2c;
  font-family: "helioscondcbold";
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 15px; }

.about-geography__text {
  font-size: 14px;
  line-height: 17px;
  border-top: 1px solid #cd2c2c;
  border-bottom: 1px solid #cd2c2c;
  padding: 10px 0;
  margin-bottom: 15px; }

.about-geography__info {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 2px; }

.about-geography__bold {
  font-family: "SeroOffcPro-Medium"; }

.about-geography__link {
  text-decoration: underline;
  font-weight: bold; }
  .about-geography__link:hover {
    text-decoration: none;
    color: #cd2c2c; }

.about-title {
  color: #cd2c2c;
  border-bottom: 1px solid #cd2c2c;
  padding-bottom: 5px;
  font-size: 14px;
  font-family: "SeroOffcPro-Medium";
  margin-bottom: 18px;
  margin-top: 20px; }
  .about-title__link {
    color: #616369;
    text-decoration: underline; }
    .about-title__link:before {
      content: '';
      display: inline-block;
      vertical-align: top;
      width: 14px;
      height: 14px;
      background: url(../img/red-tick.png) 0 0 no-repeat;
      margin-right: 5px; }
    .about-title__link:hover {
      color: #cd2c2c;
      text-decoration: none; }

.about-mission__slider {
  float: right;
  width: 666px;
  height: 420px; }
  .about-mission__slider .slick-dots {
    bottom: 17px; }

.about-mission__slide {
  outline: 0;
  height: 420px; }

.about-mission__left {
  float: left;
  width: 330px;
  padding-right: 12px; }

.about-mission__title {
  font-size: 27px;
  line-height: 31px;
  color: #616369;
  text-transform: uppercase;
  font-family: "helioscondcbold";
  margin-bottom: 17px; }

.about-mission__red {
  font-size: 16px;
  line-height: 20px;
  font-family: "SeroOffcPro-Medium";
  color: #cd2c2c; }

.about-mission__text {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 45px; }

.about-mission__top:before, .about-mission__top:after {
  content: " ";
  display: table; }

.about-mission__top:after {
  clear: both; }

.about-mission__bottom {
  font-size: 0; }

.about-mission__block {
  width: 333px;
  margin-bottom: 50px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer; }
  .about-mission__block-left {
    display: inline-block;
    vertical-align: top;
    margin-right: 14px;
    width: 99px;
    height: 99px;
    background: #e6e7e8;
    position: relative; }
  .about-mission__block-img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .about-mission__block-content {
    display: inline-block;
    vertical-align: top;
    width: 210px;
    padding-right: 10px; }
  .about-mission__block-title {
    font-size: 21px;
    line-height: 24px;
    color: #cd2c2c;
    text-transform: uppercase;
    margin-bottom: 3px; }
  .about-mission__block-text {
    font-size: 14px;
    line-height: 17px; }
  .about-mission__block:hover .about-mission__block-title, .about-mission__block.active .about-mission__block-title {
    font-weight: bold; }
  .about-mission__block:hover .about-mission__block-left, .about-mission__block.active .about-mission__block-left {
    background: #adb0ba; }

.slider_block:before, .slider_block:after {
  content: " ";
  display: table; }

.slider_block:after {
  clear: both; }

.slider_block__slider {
  float: right;
  width: 666px;
  height: 420px; }
  .slider_block__slider .slick-dots {
    bottom: 17px; }

.slider_block__slide {
  outline: 0;
  height: 420px; }

.slider_block__left {
  float: left;
  width: 310px;
  padding-right: 12px; }

.slider_block__title {
  font-size: 27px;
  line-height: 31px;
  color: #616369;
  text-transform: uppercase;
  font-family: "helioscondcbold";
  margin-bottom: 17px; }

.slider_block__red {
  font-size: 16px;
  line-height: 20px;
  font-family: "SeroOffcPro-Medium";
  color: #cd2c2c; }

.slider_block__text {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 45px; }

.slider_block__top:before, .slider_block__top:after {
  content: " ";
  display: table; }

.slider_block__top:after {
  clear: both; }

.slider_block__left--310 {
  width: 310px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-15 {
  margin-bottom: 15px; }

@media screen and (max-width: 1120px) {
  .about-mission__left {
    width: 320px; }
  .about-mission__slider {
    width: 650px; }
  .about-mission__block {
    width: 326px; } }

.about-efficiency {
  margin-top: -30px; }
  .about-efficiency__slider {
    margin: 6px 0 25px;
    width: 1000px;
    display: inline-block;
    padding-left: 20px; }
    .about-efficiency__slider .slick-arrow {
      height: 140px;
      opacity: 1;
      z-index: 10; }
      .about-efficiency__slider .slick-arrow:before {
        display: none; }
      .about-efficiency__slider .slick-arrow:hover {
        background-color: #74767d; }
    .about-efficiency__slider .slick-prev {
      background: #adaeb3 url(../img/prev.png) center center no-repeat;
      left: 0; }
    .about-efficiency__slider .slick-next {
      background: #adaeb3 url(../img/next.png) center center no-repeat;
      right: 0; }
  .about-efficiency__slide {
    outline: 0;
    text-align: center; }
  .about-efficiency__block {
    outline: 0;
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: 315px;
    padding: 0 12px;
    height: 140px;
    border-right: 1px solid #616369; }
    .about-efficiency__block--center .about-efficiency__number {
      font-size: 40px;
      line-height: 37px; }
  .about-efficiency__number {
    font-family: "helioscondcbold";
    font-size: 64px;
    line-height: 53px;
    text-transform: uppercase;
    color: #cd2c2c;
    display: inline-block;
    vertical-align: top;
    letter-spacing: -1px; }
  .about-efficiency__right {
    display: inline-block;
    vertical-align: top;
    width: 190px;
    margin-left: 10px; }
  .about-efficiency__title {
    font-family: "helioscondcbold";
    font-size: 27px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .about-efficiency__text {
    font-size: 14px;
    line-height: 17px; }
  .about-efficiency__link {
    text-decoration: underline;
    font-family: "SeroOffcPro-Medium"; }
    .about-efficiency__link:hover {
      text-decoration: none; }

@media screen and (max-width: 1120px) {
  .about-efficiency__slider {
    width: 980px; } }

.about-career {
  padding-bottom: 70px; }
  .about-career:before, .about-career:after {
    content: " ";
    display: table; }
  .about-career:after {
    clear: both; }
  .about-career__left {
    font-size: 16px;
    line-height: 20px;
    float: left;
    width: 630px; }
  .about-career__right {
    float: right;
    font-size: 14px;
    line-height: 18px;
    width: 318px; }
  .about-career__title {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #616369;
    margin-bottom: 3px;
    display: inline-block;
    font-family: "helioscondcbold"; }
    .about-career__title:hover {
      text-decoration: none;
      color: #cd2c2c; }
  .about-career__text {
    margin-bottom: 10px; }

.page404 {
  color: #f4f3f2; }
  .page404__block {
    height: 690px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center 0;
    padding-top: 165px;
    outline: 0; }
  .page404__content {
    width: 510px;
    margin-left: 20px; }
  .page404__title {
    font-family: "helioscondcbold";
    border-bottom: 3px solid #f4f3f2;
    border-top: 3px solid #f4f3f2;
    padding: 20px 0 30px;
    margin-bottom: 25px; }
    .page404__title--big {
      display: inline-block;
      vertical-align: middle;
      font-size: 129px;
      text-transform: uppercase;
      margin-right: 20px; }
    .page404__title--span {
      font-size: 62px;
      line-height: 57px;
      display: inline-block;
      vertical-align: middle; }
  .page404__subtitle {
    font-size: 30px;
    line-height: 33px; }
  .page404__link {
    color: #d2d2d2;
    text-decoration: underline; }
    .page404__link:hover {
      text-decoration: none; }

@media screen and (max-width: 1000px) {
  .page404 {
    width: 1000px; } }

.main-content.press {
  margin-top: 0;
  padding-top: 33px; }

.pages {
  text-align: center;
  margin-bottom: 50px; }
  .pages .pages__link {
    font-size: 18px;
    line-height: 27px;
    text-decoration: underline;
    display: inline-block;
    width: 27px;
    height: 26px; }
    .pages .pages__link:hover {
      background: #e6e7e8; }
    .pages .pages__link.active {
      text-decoration: none;
      background: #cd2c2c;
      color: #fff; }
    .pages .pages__link--text {
      width: auto;
      margin: 0 18px; }
      .pages .pages__link--text:hover {
        background: transparent;
        color: #cd2c2c; }

@media screen and (max-width: 1000px) {
  .press-centre {
    width: 1000px; } }

.post__left {
  float: left;
  width: 645px;
  margin-bottom: 50px; }

.post__title {
  font-family: "helioscondcbold";
  color: #616369;
  font-size: 27px;
  line-height: 30px;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: bold; }

.post__text {
  color: #616369;
  font-size: 16px;
  line-height: 20px; }

.post__link {
  font-size: 16px;
  line-height: 20px;
  text-decoration: underline;
  font-weight: bold; }
  .post__link:hover {
    color: #cd2c2c;
    text-decoration: none; }

.post__subtitle {
  font-size: 18px;
  line-height: 36px;
  font-family: "SeroOffcPro-Medium";
  margin-top: 5px; }

.post__list {
  margin-top: 10px; }

.post__item {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 20px; }
  .post__item:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 7px;
    height: 7px;
    background: #cd2c2c;
    margin-right: 8px;
    border-radius: 10px; }
  .post__item .post__text {
    margin-left: -10px; }

.post__slider {
  width: 100%; }
  .post__slider.slick-slider {
    margin-bottom: 27px; }
  .post__slider .post__slide {
    outline: 0; }
    .post__slider .post__slide-text {
      font-size: 12px;
      line-height: 15px;
      margin-top: 8px; }
  .post__slider .slick-dots {
    bottom: 40px; }
  .post__slider .slick-arrow {
    z-index: 1; }
    .post__slider .slick-arrow.slick-next:before, .post__slider .slick-arrow.slick-prev:before {
      font-size: 30px; }
    .post__slider .slick-arrow.slick-prev {
      left: 20px; }
    .post__slider .slick-arrow.slick-next {
      right: 20px; }

.post__subscribe {
  font-size: 14px;
  line-height: 17px;
  margin: 22px 0 18px; }

.post__share {
  font-size: 16px;
  line-height: 18px; }
  .post__share-link {
    font-size: 14px;
    line-height: 17px;
    display: inline-block;
    margin-left: 15px;
    text-decoration: underline; }
    .post__share-link:hover {
      text-decoration: none; }
    .post__share-link:before {
      content: '';
      display: inline-block;
      margin-right: 5px;
      margin-bottom: -2px;
      width: 16px;
      height: 16px; }
    .post__share-link.vk {
      color: #526e8f; }
      .post__share-link.vk:before {
        background: url(../img/vk.jpg) 0 0 no-repeat; }
    .post__share-link.fb {
      color: #425497; }
      .post__share-link.fb:before {
        background: url(../img/fb.jpg) 0 0 no-repeat; }
    .post__share-link.ok {
      color: #e27e35; }
      .post__share-link.ok:before {
        background: url(../img/ok.jpg) 0 0 no-repeat; }
    .post__share-link.gp {
      color: #dd4241; }
      .post__share-link.gp:before {
        background: url(../img/gp.jpg) 0 0 no-repeat;
        width: 17px; }
    .post__share-link.tw {
      color: #00b7ec; }
      .post__share-link.tw:before {
        background: url(../img/tw.jpg) 0 0 no-repeat;
        height: 13px; }

.post__right {
  float: right;
  width: 320px; }
  .post__right .main-content__press {
    margin-bottom: 15px; }

.all-items {
  font-family: "SeroOffcPro-Medium";
  font-size: 14px;
  line-height: 17px;
  text-decoration: underline;
  display: inline-block; }
  .all-items:after {
    content: '';
    background: url(../img/press-tick.png) 0 0 no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2px; }
  .all-items:hover {
    color: #cd2c2c;
    text-decoration: none; }
    .all-items:hover:after {
      background: url(../img/press-tick-hover.png) 0 0 no-repeat; }

.top-grey {
  background: url(../img/post_block.jpg) center 0 no-repeat;
  height: 50px;
  margin-bottom: 30px; }

.map .main-content__title {
  margin-top: 35px;
  margin-bottom: 54px; }

.map__content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.map__block {
  width: 275px;
  height: 260px;
  border-top: 1px solid #cd2c2c;
  padding-top: 16px; }

.map__title-link {
  font-family: "helioscondcbold";
  font-size: 27px;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 12px;
  display: inline-block; }
  .map__title-link:hover {
    text-decoration: none;
    color: #cd2c2c; }

.map__link {
  text-decoration: underline;
  display: inline-block;
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 19px; }
  .map__link:hover {
    color: #cd2c2c;
    text-decoration: none; }

.main-content__new {
  margin-top: 0;
  padding-top: 33px; }

.main-content__item-title--mini {
  font-size: 18px;
  line-height: 21px;
  margin-top: 5px;
  margin-bottom: 15px; }

.main-content__info--325 {
  -webkit-flex-basis: 325px;
  -ms-flex-preferred-size: 325px;
  flex-basis: 325px; }

.main-content__info--630 {
  -webkit-flex-basis: 630px;
  -ms-flex-preferred-size: 630px;
  flex-basis: 630px;
  margin-bottom: 40px; }

.repres {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .repres__column {
    width: 315px; }
  .repres__block {
    margin-bottom: 30px; }
  .repres__line {
    margin-bottom: 5px; }
  .repres__title {
    font-family: "helioscondcbold";
    text-transform: uppercase;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 10px; }

#map {
  width: 630px;
  height: 350px; }
  #map .YMaps-balloon {
    display: none !important; }

.search__block {
  border-bottom: 1px solid #cd2c2c;
  padding-bottom: 20px;
  margin-bottom: 30px; }

.search__form {
  position: relative;
  margin-bottom: 20px; }
  .search__form--mini {
    width: 320px; }
    .search__form--mini .search__input {
      border: 1px solid #97989b;
      line-height: 26px;
      font-size: 12px;
      padding-left: 10px; }
    .search__form--mini .search__button {
      top: 7px;
      outline: 0; }

.search__request {
  background: #d8d8db; }

.search__input {
  border: 1px solid #dedfe1;
  font-size: 16px;
  line-height: 38px;
  padding: 0 18px;
  display: block;
  width: 100%;
  color: #616369; }
  .search__input:hover, .search__input:focus {
    border: 1px solid #cd2c2c; }

.search__button {
  width: 16px;
  height: 16px;
  background: url("../img/search.jpg") 0 0 no-repeat;
  border: 0;
  position: absolute;
  top: 13px;
  right: 14px; }

.search__text-block {
  font-size: 14px;
  margin-bottom: 14px; }

.search__slider {
  width: 100%;
  font-size: 0;
  text-align: center;
  margin: 0 auto 20px; }
  .search__slider .min-infoBlock {
    margin: 0 8px; }
  .search__slider .slick-arrow {
    width: 25px;
    height: 197px;
    background: #dedfe1;
    z-index: 1; }
    .search__slider .slick-arrow:before {
      content: '';
      width: 7px;
      height: 12px;
      display: block; }
    .search__slider .slick-arrow:hover {
      background: #74767d; }
  .search__slider .slick-prev {
    left: 0; }
    .search__slider .slick-prev:before {
      background: url("../img/search/prev.png") 0 0 no-repeat;
      margin-left: 8px; }
  .search__slider .slick-next {
    right: 0; }
    .search__slider .slick-next:before {
      background: url("../img/search/next.png") 0 0 no-repeat;
      margin-left: 10px; }
  .search__slider .slick-list {
    width: 960px;
    height: 197px;
    margin: 0 auto;
    overflow: hidden; }

.search__list {
  width: 590px; }

.search__title {
  font-family: "helioscondcbold";
  text-transform: uppercase;
  color: #585857;
  font-size: 27px;
  line-height: 30px;
  display: inline-block;
  text-decoration: underline;
  margin-bottom: 5px; }
  .search__title:hover {
    color: #cd2c2c;
    text-decoration: none; }

.search__date {
  font-size: 12px;
  line-height: 15px;
  color: #757575;
  margin-bottom: 10px; }

.search__text {
  font-size: 16px;
  color: #616369; }

.search__item {
  margin-bottom: 30px; }

.social_responsibility .all-items {
  margin-top: 10px; }

.social_responsibility__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 24px; }

.social_responsibility__item {
  width: auto;
  position: relative; }
  .social_responsibility__item:after {
    content: '';
    background: url("../img/arrow.png") 0 0 no-repeat;
    width: 62px;
    height: 34px;
    display: block;
    position: absolute;
    left: 100%;
    top: 80px; }
  .social_responsibility__item:last-child:after {
    display: none; }

.social_responsibility__image {
  display: block;
  margin-bottom: 12px; }

.social_responsibility__number {
  display: inline-block;
  vertical-align: top;
  font-family: "helioscondcbold";
  font-size: 60px;
  line-height: 46px;
  color: #cd2c2c;
  margin-right: 5px; }

.social_responsibility__right {
  display: inline-block;
  vertical-align: top;
  width: 155px; }

.social_responsibility__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px; }

.social_responsibility__text {
  font-size: 16px;
  line-height: 19px; }

.social_responsibility .slider_block {
  font-size: 16px;
  line-height: 19px; }

.documents {
  font-size: 16px;
  line-height: 15px;
  width: 200px; }
  .documents .document {
    margin-bottom: 15px; }
    .documents .document__link {
      text-decoration: underline; }
      .documents .document__link:hover {
        text-decoration: none;
        color: #cd2c2c; }
      .documents .document__link:after {
        content: '';
        width: 20px;
        height: 20px;
        background: url("../img/pdf-red.jpg") 0 0 no-repeat;
        background-size: cover;
        display: inline-block;
        margin-left: 5px;
        margin-bottom: -3px; }

.border-block {
  border-bottom: 1px solid #cd2c2c; }

.links {
  margin-top: 20px; }

.mb-40 {
  margin-bottom: 40px; }

.service_block:before, .service_block:after {
  content: " ";
  display: table; }

.service_block:after {
  clear: both; }

.service_block__left {
  float: left;
  width: 625px; }

.service_block__title {
  font-family: "helioscondcbold";
  text-transform: uppercase;
  font-size: 27px;
  line-height: 30px;
  margin-bottom: 15px; }

.service_block__text {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px; }

.service_block__right {
  float: right;
  width: 320px; }

.service_block__bd {
  padding: 9px 0;
  border-bottom: 1px solid #cd2c2c;
  border-top: 1px solid #cd2c2c;
  margin: 45px 0; }

.service_block__slide {
  outline: 0; }
  .service_block__slide img {
    width: 100%; }
  .service_block__slide--text {
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px; }

.service_block .slick-dots {
  bottom: auto;
  top: 155px; }

.fz-16 {
  font-size: 16px;
  line-height: 19px; }

.text-red {
  color: #cd2c2c; }

.rb-list {
  font-size: 16px;
  line-height: 20px; }

.rb-item {
  margin-bottom: 20px; }
  .rb-item:before {
    content: '';
    width: 7px;
    height: 7px;
    background: #cd2c2c;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    border-radius: 10px; }

.accordion {
  width: 100%;
  margin-bottom: 80px; }
  .accordion__content:before, .accordion__content:after {
    content: " ";
    display: table; }
  .accordion__content:after {
    clear: both; }
  .accordion__button {
    background: #e6e7e8;
    padding: 14px 0 11px;
    padding-left: 10px;
    display: block;
    margin-bottom: 3px;
    position: relative; }
    .accordion__button:after {
      content: '';
      border: 5px solid transparent;
      border-top: 5px solid #636466;
      position: absolute;
      top: 21px;
      right: 20px; }
    .accordion__button:hover .accordion__link {
      border-bottom: 1px solid transparent; }
    .accordion__button:hover:after {
      border-top: 5px solid #cd2c2c; }
    .accordion__button.active:after {
      border: 5px solid transparent;
      border-bottom: 5px solid #636466;
      top: 15px; }
    .accordion__button.active:hover:after {
      border: 5px solid transparent;
      border-bottom: 5px solid #cd2c2c; }
  .accordion__link {
    text-transform: uppercase;
    font-size: 18px;
    line-height: 20px;
    display: inline-block;
    border-bottom: 1px dashed #616369; }
  .accordion__block {
    margin-top: 25px; }
    .accordion__block:before, .accordion__block:after {
      content: " ";
      display: table; }
    .accordion__block:after {
      clear: both; }
    .accordion__block:last-child {
      margin-bottom: 30px; }
  .accordion__left {
    float: left;
    margin-right: 15px; }
  .accordion__right {
    width: 550px; }
  .accordion__title {
    font-family: "helioscondcbold";
    font-size: 27px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 15px; }
  .accordion__close {
    float: right;
    font-size: 14px;
    line-height: 15px;
    border-bottom: 1px dashed #616369;
    display: inline-block;
    margin-bottom: 20px; }
    .accordion__close:hover {
      border-bottom: 1px solid transparent; }

.services .slider_block {
  padding-bottom: 20px;
  border-bottom: 1px solid #939393;
  margin-bottom: 12px; }
  .services .slider_block a {
    text-decoration: underline; }
    .services .slider_block a:hover {
      text-decoration: none;
      color: #cd2c2c; }
  .services .slider_block__slider {
    height: 365px; }

.services .main-content__info-title {
  height: 70px; }

.services .main-content__block--products .main-content__info:hover .main-content__info-text {
  height: 160px; }

.services .main-content__info--text-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
  white-space: nowrap; }
  .services .main-content__info--text-link:hover {
    color: #cd2c2c; }

.services .main-content__flex-start {
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-right: -20px; }
  .services .main-content__flex-start .main-content__info {
    margin-right: 20px; }

.mt-10 {
  margin-top: 10px; }

.d-ib {
  display: inline-block; }

.filter {
  margin-bottom: 40px; }
  .filter__text {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 19px;
    margin-right: 15px; }
  .filter__block {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 180px; }
    .filter__block--big {
      width: 235px; }
  .filter__button {
    width: 100%;
    height: 32px;
    position: relative;
    border: 1px solid #636466;
    display: block;
    padding: 8px 0 0 9px; }
    .filter__button:after {
      content: '';
      border: 5px solid transparent;
      border-top: 5px solid #616369;
      display: block;
      position: absolute;
      top: 12px;
      right: 12px; }
    .filter__button:hover:after {
      border-top: 5px solid #cd2c2c; }
  .filter__list {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    z-index: 1; }
    .filter__list.active {
      display: block; }
  .filter__link {
    display: block;
    width: 100%;
    height: 34px;
    background: #f5f5f5;
    padding-top: 10px;
    padding-left: 20px; }
    .filter__link:hover {
      background: #bdbec0; }
