.press-centre
  .press-centre__block(style='background-image: url(img/press_centre.jpg)')
    .wrapper
      .press-centre__content
        h1.press-centre__title
          strong Существование и развитие
          |  человеческой цивилизации невозможно без
          strong  использования
          |  различных минералов

        .press-centre__subtitle
          | Несмотря на совершенствование технологий переработки и применения полезных ископаемых, процесс их службы человечеству всегда
          strong  будет начинаться
          |  с процедуры извлечения накопленного природой сырья из недр планеты,
          strong  преимущественно буровзрывным способом.

.main-content.press
  .wrapper
    .main-content__title
      a.main-content__title-link(href="") Пресс-центр

    .main-content__press
      a.main-content__press-block.main-content__press-block--anons(href="")
        .main-content__press-time 22.06.2013
        .main-content__press-title Выставка EFEE 2016
        .main-content__press-text
          | Благодарим всех, кто посетил наш стенд на 7й международной выставке EFEE 2013. Выставка-конференция EFEE 2013 в Москве прошла успешно. Мы будем рады новой встрече и взаимовыгодному сотрудничеству!

          .main-content__press-link Подробнее

      a.main-content__press-block.main-content__press-block--anons(href="")
        .main-content__press-time 22.06.2013
        .main-content__press-title Выставка EFEE 2016
        .main-content__press-text
          | Благодарим всех, кто посетил наш стенд на 7й международной выставке EFEE 2013. Выставка-конференция EFEE 2013 в Москве прошла успешно. Мы будем рады новой встрече и взаимовыгодному сотрудничеству!

          .main-content__press-link Подробнее

      a.main-content__press-block(href="", style="background: url(img/press1.jpg) 0 0 no-repeat")
        .main-content__press-move
          .main-content__press-time 22.06.2013
          .main-content__press-title ГК «АЗОТ-ВЗРЫВ» взорвала 1 миллиард кубов горной массы
          .main-content__press-text
            | Благодарим всех, кто посетил наш стенд на 7й международной выставке EFEE 2013 в Москве. Выставка прошла успешно. Мы будем рады новой встрече и взаимовыгодному сотрудничеству!

            .main-content__press-link Подробнее

      a.main-content__press-block(href="", style="background: url(img/press2.jpg) 0 0 no-repeat")
        .main-content__press-move
          .main-content__press-time 22.06.2013
          .main-content__press-title ГК «АЗОТ-ВЗРЫВ» взорвала 1 миллиард кубов горной массы
          .main-content__press-text
            | Благодарим всех, кто посетил наш стенд на 7й международной выставке EFEE 2013 в Москве. Выставка прошла успешно. Мы будем рады новой встрече и взаимовыгодному сотрудничеству!

            .main-content__press-link Подробнее

      a.main-content__press-block.main-content__press-block--anons(href="")
        .main-content__press-time 22.06.2013
        .main-content__press-title Совещание руководителей предприятий ГК «Азот-Взрыв»
        .main-content__press-text
          | Благодарим всех, кто посетил наш стенд на 7й международной выставке EFEE 2013. Выставка-конференция EFEE 2013 в Москве прошла успешно.

          .main-content__press-link Подробнее

      a.main-content__press-block.main-content__press-block--anons(href="")
        .main-content__press-time 22.06.2013
        .main-content__press-title ОАО «АВ-Технология» — ввод в эксплуатацию очередногозавода по производству ЭВВ
        .main-content__press-text
          | Благодарим всех, кто посетил наш стенд на 7й международной выставке EFEE 2013.

          .main-content__press-link Подробнее

    .pages
      a.pages__link.pages__link--text(href="") предыдущая
      a.pages__link.active(href="") 1
      a.pages__link(href="") 2
      a.pages__link(href="") 3
      a.pages__link(href="") 4
      a.pages__link(href="") 5
      a.pages__link(href="") 6
      a.pages__link(href="") 7
      a.pages__link(href="") 8
      a.pages__link(href="") 9
      a.pages__link(href="") 10
      a.pages__link.pages__link--text(href="") следующая
