/* стили по умолчанию */
a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding: 0; margin: 0;
}

address {
	font-style: normal;
}

input, textarea {
	outline: none;
	border: none;
}

html {
	height:100%;
	width: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	height:100%;
	position: relative;
	font-family: $defaultFontFamily;
	font-size: $defaultFontSize;
	line-height: $defaultLineHeight;
	color: $defaultColor;
	// zoom:90%;
	// transform: scale(.9);
}

h1 {
	margin: 0;
	padding: 0;
}

.product_category {
	padding-top: 20px;
}


/* чтобы прибить футер к низу */
.main {
	width: 100%;
	height: 100%;
	min-height: 100%;
	display: table;
	position: relative;
	padding-top: 170px;

	&--content {
		display: table-row;
		height: 100%;
	}
}

/* defaul style end  */

.slick-dots {
	li {
		button {
			width: 14px;
			height: 14px;
			border-radius: 50%;
			border: 1px solid #fff;

			&:before {
				display: none;
			}
		}

		&.slick-active {
			button {
				background: #fff;
			}
		}
	}
}

.before-red {
	&:before {
		content: '';
		display: inline-block;
		vertical-align: top;
		width: 14px;
		height: 14px;
		background: url(../img/red-tick.png) 0 0 no-repeat;
		margin-right: 5px;
	}
}

.title-grey {
	font-family: $helios;
	font-size: 27px;
	line-height: 30px;
	color: #616369;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.fz-16 {
	font-size: 16px;
	line-height: 19px;
}

.bold {
	font-weight: bold;
}

.mb-5 {
	margin-bottom: 5px;
}

.pt-10 {
	padding-top: 10px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-28 {
	margin-bottom: 28px !important;
}

.db {
	display: block;
}

.mt-20 {
	margin-top: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.my-30 {
	margin-bottom: 30px;
	margin-top: 30px;
}

.mt-25 {
	margin-top: 25px;
}

.mt-50 {
	margin-top: 50px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mr-80 {
	margin-right: 80px;
}

.w-150 {
	width: 150px;
}

.w-335 {
	width: 335px;
}

.w-240 {
	width: 240px;
}

.w-360 {
	width: 360px;
}

.w-270 {
	width: 270px;
}

.w-340 {
	width: 340px;
}

.w-380 {
	width: 380px;
}

.p-y-9 {
	padding-top: 9px;
	padding-bottom: 10px;
}

.p-l-8 {
	padding-left: 8px;
}

.bd-t-grey {
	border-top: 1px solid #616369;
}

.bd-b-grey {
	border-bottom: 1px solid #616369;
}

.bd-tb-grey {
	border-top: 1px solid #616369;
	border-bottom: 1px solid #616369;
}

.td-u {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.align-middle {
	vertical-align: middle !important;
}

.pdf-red {
	font-weight: bold;
	&:after {
		content: '';
		width: 31px;
		height: 32px;
		background: url('../img/pdf-red.jpg') 0 0 no-repeat;
		display: inline-block;
		margin-left: 18px;
		margin-bottom: -4px;
	}

	&:hover {
		color: #cd2c2c;
	}
}

.link {
	font-weight: bold;
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}

.table {
	display: table;
	width: 100%;
}

.table-row {
	display: table-row;
}

.table-cell {
	display: table-cell;
}

.bg-grey {
	background: #f4f4f4;
}

.m-lr-10 {
	margin-left: 10px;
	margin-right: 10px;
}

.mr--20 {
	margin-right: -20px;
}

.min-infoBlock {
	display: inline-block;
	vertical-align: top;
	width: 150px;
	height: 197px;
	position: relative;
	outline: 0;

	&--links {
		display: inline-block;
		vertical-align: top;
		width: 120px;
		margin-right: 50px;
		margin-left: -10px;
	}

	&--link {
		display: block;
		margin-bottom: 12px;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
			color: #cd2c2c;
			font-weight: bold;
		}

		&:after {
			content: '';
			background: url('../img/pdf-red.jpg') 0 0 no-repeat;
			width: 24px;
			height: 24px;
			background-size: cover;
			display: block;
		}
	}

	&--top {
		background: #636466;
		color: #fff;
		text-decoration: underline;
		padding: 6px 20px 8px 7px;
		font-size: 16px;
		line-height: 19px;
		display: block;
		text-align: left;
		min-height: 50px;

		&:hover {
			text-decoration: none;

			.min-infoBlock--hover {
				visibility: visible;
				height: auto;
				font-size: 14px;
			}
		}
	}

	&--hover {
		margin-top: 8px;
		text-decoration: none;
		visibility: hidden;
		height: 0;
	}
}
.flex {
	display: flex;
}

.jc-sb {
	justify-content: space-between;
}

.jc-fs {
	justify-content: flex-start;

	.min-infoBlock {
		margin-right: 20px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.bold {
	font-weight: bold;
}

.hidden {
	display: none;
}

.h-bd-t {
	cursor: pointer;

	&:hover {
		border-bottom: 1px solid transparent;
	}
}

.bdb-dashed {
	border-bottom: 1px dashed #616369;
}

.fw-w {
	flex-wrap: wrap;

	.min-infoBlock {
		margin-right: 20px;
		margin-bottom: 20px;
	}
}



.filter__title {
	color: #616369;
	font-size: 27px;
	line-height: 30px;
	text-transform: uppercase;
	font-family: $helios;
	margin-bottom: 15px;
}

.main-content__title-big {
	font-size: 18px;
	line-height: 21px;
	font-weight: bold;
	margin-bottom: 10px;
}

.tech_info__slider {
	margin: 6px 0 25px;
	width: 980px;
	display: inline-block;
	padding-left: 20px;

	.main-content__press-block {
		margin: 0 5px;
	}

	.slick-arrow {
		height: 230px;
		opacity: 1;
		z-index: 10;

		&:before {
			display: none;
		}

		&:hover {
			background-color: #74767d;
		}
	}

	.slick-prev {
		background: #adaeb3 url(../img/prev.png) center center no-repeat;
		left: 0;
	}

	.slick-next {
		background: #adaeb3 url(../img/next.png) center center no-repeat;
		right: -20px;
	}

	.main-content__press-title {
		font-size: 16px;
		line-height: 25px;
		margin-bottom: 0;
	}

	.main-content__press-text {
		font-size: 14px;
		line-height: 17px;
	}

	.main-content__press-move {
		padding-top: 8px;
		padding-right: 8px;
		// padding-left: 10px;
	}
}

a.instructions {
	display: inline-block;
	margin-bottom: 40px;
	font-size: 14px;
	line-height: 17px;
	color: #585857;
	border-bottom: 1px dashed #585857;
	font-weight: bold;

	&:hover {
		border-bottom: 1px solid transparent;
	}

	&:after {
		content: '';
		display: inline-block;
		vertical-align: middle;
		border: 4px solid transparent;
		border-top: 4px solid #585857;
		margin-left: 5px;
		margin-top: 3px;
	}
}

.text-xs-right {
	text-align: right;
	width: 100%;
}

.clearfix {
	@include cl;
}

.license {
	display: inline-block;
	vertical-align: top;
	width: 490px;
	margin-right: 5px;
	margin-bottom: 15px;

	&__img {
		border: 1px solid #a1a1a1;
		padding: 2px;
	}

	&__img,
	&__block {
		display: inline-block;
		vertical-align: top;
	}

	&__block {
		width: 370px;
		margin-left: 15px;
	}

	&__title {
		font-size: 16px;
		line-height: 25px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	&__text {
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 15px;
	}

	&__link {
		font-size: 14px;
		line-height: 18px;
		font-weight: bold;
		text-decoration: underline;
		display: inline-block;
		cursor: pointer;

		&:hover {
			text-decoration: none;
			color: #cd2c2c;
		}

		&:after {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 18px;
			height: 18px;
			background: url('../img/loupe.jpg') 0 0 no-repeat;
			margin-left: 8px;
		}
	}
}
.slick {
	&-next,
	&-prev {
		z-index: 1;

		&:before {
			font-size: 0 !important;
			width: 27px;
			height: 27px;
			display: block;
		}
	}

	&-next {
		right: 20px;
	}

	&-prev {
		left: 20px;
	}

	&-next:before {
		background: url('../img/slick-next.png') center center no-repeat;
	}

	&-prev:before {
		background: url('../img/slick-prev.png') center center no-repeat;
	}
}
