.wrapper {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

@media screen and (max-width: 1120px) {
  .wrapper {
		width: 980px;
	}
}

// .main-block {
// 	.wrapper {
// 		width: 100%;
// 	}
// }
