.top-block {
  color: #f4f3f2;
  height: 320px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center 170px;
  background-attachment: fixed;

  &__block{
    position: absolute;
    width: 1000px;
    height: 320px;
    margin: 0 auto;
    outline: 0;
    clip: rect(auto, auto, auto, auto);
  }

  .wrapper {
    position: fixed;
    top: 210px;
    left: 0px;
    padding: 1em;
    width: 1000px;
    left: 50%;
    transform: translateX(-50%);
  }

  .child.pink {
    background-color: pink;
  }

  &__content {
    width: 590px;
  }

  &__title {
    border-bottom: 2px solid #f4f3f2;
    border-top: 2px solid #f4f3f2;
    padding: 17px 0 15px;
    margin-bottom: 25px;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 24px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 20px;
  }

  &__link {
    color: #d2d2d2;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}
