/* --------- variables --------- */

$defaultFontFamily: 'SeroOffcPro-Light';
$defaultFontSize: 13px;
$defaultLineHeight: 16px;
$defaultColor: #616369;

$seraMed: 'SeroOffcPro-Medium';
$seraLight: 'SeroOffcPro-Light';
$helios: 'helioscondcbold';
/* colors */
