mixin top-block(image)
  .top-block(style='background-image: url(#{image})')
    .top-block__block
      .wrapper
        .top-block__content
          h1.top-block__title
            strong Существование и развитие
            |  человеческой цивилизации невозможно без
            strong  использования
            |  различных минералов

          .top-block__subtitle
            | Несмотря на совершенствование технологий переработки и применения полезных ископаемых, процесс их службы человечеству всегда
            strong  будет начинаться
            |  с процедуры извлечения накопленного природой сырья из недр планеты,
            strong  преимущественно буровзрывным способом.
