.top-block(style='background-image: url(img/social_responsibility.jpg)')
  .top-block__block
    .wrapper
      .top-block__content
        h1.top-block__title
          strong Интегральная система персональной ответственности
          |  на всех участках,конфиденциальность и сохранность информации, а так же технологическая и экономическая эффективность по всей цепочке добычи и переработки.

        .top-block__subtitle
          | Несмотря на совершенствование технологий переработки и применения полезных ископаемых, процесс их службы человечеству всегда
          strong  будет начинаться
          |  с процедуры извлечения накопленного природой сырья из недр планеты,
          strong  преимущественно буровзрывным способом.

.main-content.main-content__new.social_responsibility
  .wrapper
    .main-content__title
      .bold.before-red Экологическая ответственность

    .slider_block
      .slider_block__left
        .slider_block__title С ответственностью перед будущим
        span.slider_block__red В AV groupe убеждены
        span.slider_block__text , что устойчивое развитие и эффективность бизнеса напрямую зависят от бережного отношения к природе и постоянного совершенствования экологичных технологий.
        br
        br
        span.slider_block__text Несмотря на возможное развитие и совершенствование технологий переработки и применения полезных ископаемых, процесс их службы человечеству всегда будет начинаться с процедуры извлечения накопленного природой сырья из недр планеты, преимущественно буровзрывным способом.
        br
        a.all-items(href="") Наши сертификаты

      .slider_block__slider
        img.slider_block__slide(src="img/social_responsibility/slide1.jpg", alt="")
        img.slider_block__slide(src="img/social_responsibility/slide1.jpg", alt="")
        img.slider_block__slide(src="img/social_responsibility/slide1.jpg", alt="")
        img.slider_block__slide(src="img/social_responsibility/slide1.jpg", alt="")
        img.slider_block__slide(src="img/social_responsibility/slide1.jpg", alt="")
        img.slider_block__slide(src="img/social_responsibility/slide1.jpg", alt="")
        img.slider_block__slide(src="img/social_responsibility/slide1.jpg", alt="")

    ul.social_responsibility__list
      li.social_responsibility__item
        img.social_responsibility__image(src="img/social_responsibility/img1.jpg")
        .social_responsibility__number 1
        .social_responsibility__right
          .social_responsibility__title Исследование
          .social_responsibility__text возможное развитие и совершенствование технологий

      li.social_responsibility__item
        img.social_responsibility__image(src="img/social_responsibility/img2.jpg")
        .social_responsibility__number 2
        .social_responsibility__right
          .social_responsibility__title Подготовка
          .social_responsibility__text возможное развитие и совершенствование технологий

      li.social_responsibility__item
        img.social_responsibility__image(src="img/social_responsibility/img3.jpg")
        .social_responsibility__number 3
        .social_responsibility__right
          .social_responsibility__title Взрывные работы
          .social_responsibility__text возможное развитие и совершенствование технологий

      li.social_responsibility__item
        img.social_responsibility__image(src="img/social_responsibility/img4.jpg")
        .social_responsibility__number 4
        .social_responsibility__right
          .social_responsibility__title Высадка деревьев
          .social_responsibility__text возможное развитие и совершенствование технологий

    .main-content__title
      .bold.before-red Охрана труда

    .slider_block.mb-40
      .slider_block__left.slider_block__left--310
        .slider_block__title С заботой о команде
        .border-block.mb-20
          .slider_block__text.mb-15 В AV groupe убеждены, что устойчивое развитие и эффективность бизнеса напрямую зависят от бережного отношения к природе и постоянного совершенствования экологичных технологий.

        .border-block
          ul.documents
            li.document
              strong Нормативные документы
            li.document
              a.document__link(href="") нормативный документ об охране труда

            li.document
              a.document__link(href="") нормативный документ об охране труда

            li.document
              a.document__link(href="") нормативный документ об охране труда

            li.document
              a.document__link(href="") нормативный документ об охране труда

        .links
          a.all-items(href="") Карьера в AV Group
          br
          a.all-items.js-open-popup(href="") Отправить резюме

      .slider_block__slider
        img.slider_block__slide(src="img/social_responsibility/slide1.jpg", alt="")
        img.slider_block__slide(src="img/social_responsibility/slide1.jpg", alt="")
        img.slider_block__slide(src="img/social_responsibility/slide1.jpg", alt="")
        img.slider_block__slide(src="img/social_responsibility/slide1.jpg", alt="")
        img.slider_block__slide(src="img/social_responsibility/slide1.jpg", alt="")
        img.slider_block__slide(src="img/social_responsibility/slide1.jpg", alt="")
        img.slider_block__slide(src="img/social_responsibility/slide1.jpg", alt="")
