include ../../mixins/top-block.jade

+top-block('img/product_category.jpg')

.product_category
  .wrapper
    .filter.bd-t-grey.mt-20.pt-10
        .filter__text Фильтр продукции:
        .filter__block.js-filter
          a.filter__button.js-filter-button(href="") Открытые работы
          ul.filter__list.js-filter-select
            li.filter__item
              a.filter__link.js-filter-option(href="") Подземные работы

            li.filter__item
              a.filter__link.js-filter-option(href="") Спецработы

    .filter__variant2.mb-30
      .main-content__title
        a.main-content__title-link(href="") Средства инициирования

      .title-grey Неэлектрические системы инициирования

      ul.flex.jc-fs.fw-w.mr--20
        li.min-infoBlock(style="background: url(img/product/product1.jpg) 0 bottom no-repeat")
          a.min-infoBlock--top(href="#") Нитронит-П

        li.min-infoBlock(style="background: url(img/product/product1.jpg) 0 bottom no-repeat")
          a.min-infoBlock--top(href="#") Нитронит-ПАС

        li.min-infoBlock(style="background: url(img/product/product1.jpg) 0 bottom no-repeat")
          a.min-infoBlock--top(href="#") Нитронит-ПАС

      .title-grey Электродетонаторы

      ul.flex.jc-fs.fw-w.mr--20
        li.min-infoBlock(style="background: url(img/search/slide1.jpg) 0 bottom no-repeat")
          a.min-infoBlock--top(href="#")
            .min-infoBlock__link Коршун-М
            .min-infoBlock__link ДИН-П

        li.min-infoBlock(style="background: url(img/search/slide1.jpg) 0 bottom no-repeat")
          a.min-infoBlock--top(href="#")
            .min-infoBlock__link Коршун-М
            .min-infoBlock__link ДИН-П

        li.min-infoBlock(style="background: url(img/search/slide1.jpg) 0 bottom no-repeat")
          a.min-infoBlock--top(href="#")
            .min-infoBlock__link Коршун-М
            .min-infoBlock__link ДИН-П

      .title-grey Детонирующие шнуры

      ul.flex.jc-fs.fw-w.mr--20
        li.min-infoBlock(style="background: url(img/product/product1.jpg) 0 bottom no-repeat")
          a.min-infoBlock--top(href="#") Нитронит-П

        li.min-infoBlock(style="background: url(img/product/product1.jpg) 0 bottom no-repeat")
          a.min-infoBlock--top(href="#") Нитронит-ПАС

        li.min-infoBlock(style="background: url(img/product/product1.jpg) 0 bottom no-repeat")
          a.min-infoBlock--top(href="#") Нитронит-ПАС

      .title-grey Бутестеры

      ul.flex.jc-fs.fw-w.mr--20
        li.min-infoBlock(style="background: url(img/search/slide1.jpg) 0 bottom no-repeat")
          a.min-infoBlock--top(href="#")
            .min-infoBlock__link Коршун-М
            .min-infoBlock__link ДИН-П

      .title-grey Сопутствующие товары

      ul.flex.jc-fs.fw-w.mr--20
        li.min-infoBlock(style="background: url(img/product/product1.jpg) 0 bottom no-repeat")
          a.min-infoBlock--top(href="#") Нитронит-П

        li.min-infoBlock(style="background: url(img/product/product1.jpg) 0 bottom no-repeat")
          a.min-infoBlock--top(href="#") Нитронит-ПАС
