extends ../layouts/main_layout.jade

block content
	include ../common/about/first-block.jade
	include ../common/about/geography.jade
	include ../common/about/mission.jade
	include ../common/about/efficiency.jade
	include ../common/about/career.jade
	
	
		
