extends ../layouts/main_layout.jade

include ../mixins/top-block.jade

block content
	+top-block('img/about-first-block.jpg')
	include ../common/about/geography.jade
	include ../common/about/mission.jade
	include ../common/about/efficiency.jade
	include ../common/about/career.jade
	include ../common/popup.jade
