.page404
  .page404__block(style='background-image: url(img/404.jpg)')
    .wrapper
      .page404__content
        h1.page404__title
          span.page404__title--big 404
          span.page404__title--span
            | страница
            br
            | не найдена

        .page404__subtitle
          | такой страницы не существует
          | воспользуйтесь
          a.page404__link(href="")  поиском
          |  или
          br
          a.page404__link(href="")  картой сайта
          |  чтобы найти интересующий вас контент
