.main-content.press {
  margin-top: 0;
  padding-top: 33px;
}

.pages {
  text-align: center;
  margin-bottom: 50px;

  .pages__link {
    font-size: 18px;
    line-height: 27px;
    text-decoration: underline;
    display: inline-block;
    width: 27px;
    height: 26px;

    &:hover {
      background: #e6e7e8;
    }

    &.active {
      text-decoration: none;
      background: #cd2c2c;
      color: #fff;
    }

    &--text {
      width: auto;
      margin: 0 18px;

      &:hover {
        background: transparent;
        color: #cd2c2c;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .press-centre {
    width: 1000px;
  }
}
