footer.footer
  .wrapper
    .footer__left
      img.footer__logo(src="img/footer__logo.png", alt="")
      .footer__address
        | 142784, г. Москва, деревня Говорово, 
        br
        | 47 км МКАД, стр. 21
        
      .footer__phones
        | +7 (495) 504-07-90,
        br
        | +7 (495) 504-07-91,
        br
        | +7 (495) 502-91-74 (Факс)
        br
        a.footer__mail(href="") av@azotvzryv.ru
      
    .footer__right
      ul.footer__menu
        li.footer__menu-block
          a.footer__menu-title.footer__menu-title--padding(href="") О компании
          
          ul.footer__submenu
            li.footer__submenu-item
              a.footer__submenu-link(href="") География
              
            li.footer__submenu-item
              a.footer__submenu-link(href="") Миссия
              
            li.footer__submenu-item
              a.footer__submenu-link(href="") Эффективность
              
            li.footer__submenu-item
              a.footer__submenu-link(href="") Карьера
              
        li.footer__menu-block
          a.footer__menu-title(href="")
            | услуги
            br
            | и продукция
          
          ul.footer__submenu
            li.footer__submenu-item
              a.footer__submenu-link(href="") 
                | Буровзрывные
                br 
                | работы
              
            li.footer__submenu-item
              a.footer__submenu-link(href="") 
                | Взрывчатые
                br 
                | вещества
              
            li.footer__submenu-item
              a.footer__submenu-link(href="") 
                | Средства
                br 
                | инициирования
              
            li.footer__submenu-item
              a.footer__submenu-link(href="") 
                | Техника
                br 
                | и оборудовани
              
            li.footer__submenu-item
              a.footer__submenu-link(href="") Прочее

        li.footer__menu-block
          a.footer__menu-title(href="")
            | техническая
            br 
            | информация
          
          ul.footer__submenu
            li.footer__submenu-item
              a.footer__submenu-link(href="") 
                | Справочная
                br 
                | информация
              
            li.footer__submenu-item
              a.footer__submenu-link(href="") 
                | Инструкции
                br 
                | и рекомендации
              
            li.footer__submenu-item
              a.footer__submenu-link(href="") 
                | Лицензии
                br 
                | и разрешения

        li.footer__menu-block
          a.footer__menu-title(href="")
            | социальная
            br 
            | ответственность
          
          ul.footer__submenu
            li.footer__submenu-item
              a.footer__submenu-link(href="") 
                | Экологическая
                br 
                | ответственность
              
            li.footer__submenu-item
              a.footer__submenu-link(href="") Охрана труда

        li.footer__menu-block
          a.footer__menu-title.footer__menu-title--padding(href="") пресс центр
          
        li.footer__menu-block
          a.footer__menu-title.footer__menu-title--padding(href="") контакты

      .footer__name © Азот-Взрыв 2008-2016
