header.header
  .header__top
    .wrapper
      .header__contacts
        .header__phone +7 (495) 504-07-90
        a.header__mail(href="") av@azotvzryv.ru
        ul.header__languages
          li.header__language
            | РУС

          li.header__language
            a.header__language-link(href="") ENG

  .header__main
    .wrapper
      img.header__logo(src="img/logo.jpg", alt="")

      nav.header__nav
        ul.header__list
          li.header__item
            .header__link
              img.header__link-icon(src="img/header-link.png", alt="")
              a.header__link-title(href="") О компании

              .header__submenu
                a.header__submenu-link(href="") География
                a.header__submenu-link(href="") Миссия
                a.header__submenu-link(href="") Эффективность
                a.header__submenu-link(href="") Карьера

          li.header__item
            .header__link
              img.header__link-icon(src="img/header-link.png", alt="")
              a.header__link-title(href="")
                | услуги
                br
                | и продукция

          li.header__item
            .header__link
              img.header__link-icon(src="img/header-link.png", alt="")
              a.header__link-title(href="")
                | техническая
                br
                | информация

          li.header__item
            .header__link
              img.header__link-icon(src="img/header-link.png", alt="")
              a.header__link-title(href="")
                | социальная
                br
                | ответственность

              .header__submenu
                a.header__submenu-link(href="").header__submenu-title Экологическая ответстенность
                a.header__submenu-link(href="") Охрана труда

          li.header__item
            .header__link
              img.header__link-icon(src="img/header-link.png", alt="")
              a.header__link-title(href="") пресс центр

          li.header__item
            .header__link
              img.header__link-icon(src="img/header-link.png", alt="")
              a.header__link-title(href="") контакты
