// build:js js/vendor.min.js
// bower:js
script(src='bower/jquery/dist/jquery.js')
script(src='/bower/slick-carousel/slick/slick.min.js')
script(src='js/Ymaps.js')
// endbower
// endbuild

// build:js js/main.min.js
script(src='js/app.js')
script(src='js/modules.js')
script(src='js/map.js')
script(src='js/main.js')
// endbuild
