.popup.js-video-popup
  .popup__block
    .popup__close.js-popup-close
    .popup__content
      iframe(width="560", height="315", src="https://www.youtube.com/embed/ho9rZjlsyYY", frameborder="0", allowfullscreen)
