.top-block
  .top-block__block(style='background-image: url(img/contacts.jpg)')
    .wrapper
      .top-block__content
        h1.top-block__title
          strong ЗАО «Азот-Взрыв» работает с более 500 предприятиями по всей России и СНГ.

        .top-block__subtitle
          | ЗАО «Азот-Взрыв» учреждено 2002 г. с целью организации поставок на рынок России и стран СНГ конкурентных мировым образцам средств инициирования, взрывчатых веществ и систем взрывания, а также технологий и оборудования для производства эмульсионных ВВ.

.main-content.main-content__new.contacts
  .wrapper
    .main-content__title
      .bold.before-red Главный офис

    .main-content__block
      .main-content__info.main-content__info--325
        .main-content__item
          .main-content__item-title.main-content__item-title--mini ЗАО «Азот-взрыв»

        .main-content__item-text
          strong Адрес:
          |  142784, г. Москва, деревня Говорово, 47 км МКАД, стр. 21
          br
          strong Тел.:
          |  (495) 504-07-90, 504-07-91
          br
          strong Факс:
          |  (495) 502-91-74
          br
          strong E-mail:
          |  av@azotvryv.ru

      .main-content__info.main-content__info--630
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=m67Bd-IrNoIWcTDbBYXk4JKxfUQQUmSy&amp;width=630&amp;height=350&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>

    .main-content__title
      .bold.before-red Представительства

    .repres
      .repres__column
        .repres__block
          .repres__title АО «АВ-ТЕХНОЛОГИЯ»
          .repres__text
            .repres__line
              strong Адрес:
              |  142784, г. Москва, деревня Говорово, 47 км МКАД, стр. 21

            .repres__line
              strong Тел.:
              |  (495) 504-07-90, 504-07-91

            .repres__line
              strong Факс:
              |  (495) 502-91-74

            .repres__line
              strong E-mail:
              |  av@azotvryv.ru

        .repres__block
          .repres__title ЗАО «ИНСТИТУТ ВЗРЫВА»
          .repres__text
            .repres__line
              strong Адрес:
              |  142784, г. Москва, деревня Говорово, 47 км МКАД, стр. 21

            .repres__line
              strong Тел.:
              |  (495) 504-07-90, 504-07-91

            .repres__line
              strong Факс:
              |  (495) 502-91-74

            .repres__line
              strong E-mail:
              |  av@azotvryv.ru

        .repres__block
          .repres__title ООО «АВИСТО»
          .repres__text
            .repres__line
              strong Адрес:
              |  Российская Федерация, 309500, Белгородская область, г. Старый Оскол, площадка ОАО «Стойленский ГОК»

            .repres__line
              strong Тел./факс приемной:
              |  8 (4725) 44-94-97, 41-70-73

            .repres__line
              strong E-mail:
              |  t.boltenkova@avysto.ru

        .repres__block
          .repres__title ЗАО «КОЛЫМАВЗРЫВПРОМ»
          .repres__text
            .repres__line
              strong Адрес:
              |  Российская Федерация, Магаданская область, Хасынский р-н, п.Палатка

            .repres__line
              strong Генеральный директор

            .repres__line
              strong Тел.:
              |  8 (914) 852-09-00

            .repres__line
              strong Главный инженер

            .repres__line
              strong Тел.:
              |  8 (914) 864-80-62

      .repres__column
        .repres__block
          .repres__title ОАО «МУРОМЕЦ»
          .repres__text
            .repres__line
              strong Адрес:
              |  Российская Федерация, 602205, Владимирская обл., г. Муром, ул. Ленинградская, д.7.

            .repres__line
              strong Тел.:
              |  (49234) 602-02

            .repres__line
              strong Факс:
              |  (49234) 603-03, 607-70

            .repres__line
              strong E-mail:
              |  muromets@azotvzryv.ru

        .repres__block
          .repres__title ООО «АЗОТ-ЧЕРНИГОВЕЦ»
          .repres__text
            .repres__line
              strong Приемная ООО «Азот-Черниговец»:

            .repres__line
              strong Тел.факс:
              |  8 (3842) 346-901

            .repres__line
              strong E-mail:
              |  office@azotchern.ru

        .repres__block
          .repres__title ЗАО «МОРОЗОВКА»
          .repres__text
            .repres__line
              strong Адрес:
              |  Российская Федерация, 188679, Ленинградская область, Всеволожский район, пос. имени Морозова, ул. Чекалова, д. 3

            .repres__line
              strong Тел./факс:
              |  (81370) 35-143

            .repres__line
              strong E-mail:
              |  morozovka@azotvzryv.ru

        .repres__block
          .repres__title ООО «АВТ-АМУР»
          .repres__text
            .repres__line
              strong Юридический адрес:
              |  Российская Федерация, 675000, Амурская область, г. Благовещенск, ул. Ленина, д. 140/1

            .repres__line
              strong Почтовый адрес:
              |  Российская Федерация, 675000, Амурская область, г. Благовещенск, ул. Амурская, д. 17

            .repres__line
              strong Тел./факс:
              |  +7 (4162) 39-09-46

            .repres__line
              strong E-mail:
              |  avt-amur@pokrmine.ru

      .repres__column
        .repres__block
          .repres__title ООО «АЗОТ МАЙНИНГ СЕРВИС»
          .repres__text
            .repres__line
              strong Адрес:
              |  Российская Федерация, Кемровская область, г. Кемерово.

            .repres__line
              strong Тел./факс:
              |  +7 (4162) 39-09-46

            .repres__line
              strong E-mail:
              |  avt-amur@pokrmine.ru

        .repres__block
          .repres__title ООО «АВТ-УРАЛ»
          .repres__text
            .repres__line
              strong Адрес:
              |  Российская Федерация, 624350, Свердловская область, г. Качканар, ул. Свердлова, д. 2

            .repres__line
              strong Тел./факс:
              |  +7 (34341) 47-664, (34341) 47-440

            .repres__line
              strong E-mail:
              |  svetlana.bobkova@ur.evraz.ru

        .repres__block
          .repres__title ООО «АВТ-УРАЛСЕРВИС»
          .repres__text
            .repres__line
              strong Адрес:
              |  Российская Федерация, 624350, Свердловская область, г. Качканар, ул. Свердлова, дом 7А

            .repres__line
              strong Тел./факс:
              |  (34341) 2-23-50, (34341) 6-82-44

        .repres__block
          .repres__title ТОО «AZOT MINING SERVICES-KAZAKHSTAN»
          .repres__text
            .repres__line
              strong Адрес:
              |  Республика Казахстан, Усть-Каменогорск

            .repres__line
              strong Тел./факс:
              |  +7 (4162) 39-09-46

            .repres__line
              strong E-mail:
              |  avt-amur@pokrmine.ru

        .repres__block
          .repres__title SIA «Mining Services»
          .repres__text
            .repres__line
              strong Адрес:
              |  Латвия, г. Рига.

            .repres__line
              strong Тел./факс:
              |  +7 (4162) 39-09-46

            .repres__line
              strong E-mail:
              |  avt-amur@pokrmine.ru
