.about-career
  .wrapper
    .about-title
      a.about-title__link(href="") Карьера

    .about-career__left Работа в AVgroup дает вам возможность работать в динамичной и многообразной в культурном отношении среде. Более 41 000 сотрудников выбрали своим местом работы нашу компанию. Работа в подобной среде представляет собой уникальную и интересную задачу, поскольку позволяет приобрести более полное представление о странах и культурах мира. AVgroup принимает заявления от граждан России.

    .about-career__right
      a.about-career__title.about-career__title--red(href="") Охрана труда
      .about-career__text Социальная ответственность перед нашими сторудниками

      a.about-career__title.about-career__title--red.js-open-popup(href="") Отправить резюме
      .about-career__text Присоединится к нашей команде
