.about-efficiency
  .wrapper
    .about-title
      a.about-title__link(href="") Эффективность
    
    .about-efficiency__slider
      .about-efficiency__block
        .about-efficiency__number 27
        .about-efficiency__right
          .about-efficiency__title млн рублей
          .about-efficiency__text 
            | в год сэкономила компания после того, как 
            a.about-efficiency__link(href="") AV group построили для них эмульсионный завод в Якутском автомонмном округе
            
      .about-efficiency__block.about-efficiency__block--center
        .about-efficiency__number 15000
        .about-efficiency__right
          .about-efficiency__title килограмм
          .about-efficiency__text руды в месяц добывает компания при помощи технологий AV group
          
      .about-efficiency__block
        .about-efficiency__number 150
        .about-efficiency__right
          .about-efficiency__title предприятий
          .about-efficiency__text впервые воспользовались услугами AV group в 2016 году
                      
      .about-efficiency__block
        .about-efficiency__number 27
        .about-efficiency__right
          .about-efficiency__title млн рублей
          .about-efficiency__text 
            | в год сэкономила компания после того, как 
            a.about-efficiency__link(href="") AV group построили для них эмульсионный завод в Якутском автомонмном округе
          
      .about-efficiency__block.about-efficiency__block--center
        .about-efficiency__number 15000
        .about-efficiency__right
          .about-efficiency__title килограмм
          .about-efficiency__text руды в месяц добывает компания при помощи технологий AV group
          
      .about-efficiency__block
        .about-efficiency__number 150
        .about-efficiency__right
          .about-efficiency__title предприятий
          .about-efficiency__text впервые воспользовались услугами AV group в 2016 году
