.about-first
  .wrapper
    .about-first__title
      span.about-first__strong Существование и развитие
      | человеческой цивилизации невозможно без 
      span.about-first__strong использования
      | различных минералов
      
    .about-first__text
      | Несмотря на совершенствование технологий переработки и применения полезных ископаемых, процесс их службы человечеству всегда
      span.about-first__strong  будет начинаться
      |  с процедуры извлечения накопленного природой сырья из недр планеты,
      span.about-first__strong  преимущественно буровзрывным способом.
