.about-geography
  .wrapper
    .about-title
      a.about-title__link(href="") География AV group
      
    .about-geography__map
      img(src="img/map.png", alt="").about-geography__map-img
      img(src="img/map-red.png", alt="").about-geography__red
      img(src="img/map-red-big.png", alt="").about-geography__red.about-geography__red-big
      
      .about-geography__popup
        .about-geography__popup-title ТОО «Azot Mining Services-Kazakhstan
        .about-geography__popup-text Республика Казахстан, 070002, г. Усть-Каменогорск, ул. Трудовая, д. 9
    
    .about-geography__right
      .about-geography__title ТОО «Azot Mining Services Kazakhstan

      .about-geography__text Алтайский край расположен на юго-востоке Западной Сибири между 50 и 55 градусами северной широты и 77 и 87 градусами восточной долготы. Протяжённость территории с запада на восток около 600 км, с севера на юг — около 400 км. 
      
      .about-geography__info
        span.about-geography__bold Адрес:
        |  142784, г. Москва, деревня Говорово, 47 км МКАД, стр. 21
        
      .about-geography__info
        span.about-geography__bold Тел.:
        |  (495) 504-07-90, (495) 504-07-91
        
      .about-geography__info
        span.about-geography__bold Факс:
        |  (495) 502-91-74
        
      .about-geography__info
        span.about-geography__bold Е-mail:
        a.about-geography__link(href="mailto:av@azotvzryv.ru")  av@azotvzryv.ru
