.about-mission
  .wrapper
    .about-title
      a.about-title__link(href="") Миссия компании
    
    .about-mission__top
      .about-mission__left
        .about-mission__title 7 принципов философии AV group
        .about-mission__red Группа компаний AV group — 
        .about-mission__text один из мировых лидеров в комплексном сервисе буровзрывных и горных работ, видит развитие своего бизнеса в разработке и внедрении передовых технологий своего сервиса, производстве инновационных взрывчатых материалов и средств инициирования, обеспечивающих максимальную эффективность.
        
        .about-mission__block.active(data-slide="0")
          .about-mission__block-left
            img.about-mission__block-img(src="img/about-mission-block1.png", alt="")
            
          .about-mission__block-content
            .about-mission__block-title ответственность
            .about-mission__block-text Интегральная система персональной ответственности на всех участках, и сохранность информации
      
      .about-mission__slider
        img.about-mission__slide(src="img/about-mission-slide1.jpg", alt="")
        img.about-mission__slide(src="img/about-mission-slide1.jpg", alt="")
        img.about-mission__slide(src="img/about-mission-slide1.jpg", alt="")
        img.about-mission__slide(src="img/about-mission-slide1.jpg", alt="")
        img.about-mission__slide(src="img/about-mission-slide1.jpg", alt="")
        img.about-mission__slide(src="img/about-mission-slide1.jpg", alt="")
        img.about-mission__slide(src="img/about-mission-slide1.jpg", alt="")
      
    .about-mission__bottom
      .about-mission__block(data-slide="1")
        .about-mission__block-left
          img.about-mission__block-img(src="img/about-mission-block2.png", alt="")
          
        .about-mission__block-content
          .about-mission__block-title эффективность
          .about-mission__block-text Технологическая и экономическая эффективность по всей цепочке добычи 
          
      .about-mission__block(data-slide="2")
        .about-mission__block-left
          img.about-mission__block-img(src="img/about-mission-block3.png", alt="")
          
        .about-mission__block-content
          .about-mission__block-title технологичность
          .about-mission__block-text Коммерческая выгода от разработки и реализации передовых технологий
          
      .about-mission__block(data-slide="3")
        .about-mission__block-left
          img.about-mission__block-img(src="img/about-mission-block4.png", alt="")
          
        .about-mission__block-content
          .about-mission__block-title предсказуемость
          .about-mission__block-text Ответственный работодатель, предсказуемый и прозрачный участник рынка
          
      .about-mission__block(data-slide="4")
        .about-mission__block-left
          img.about-mission__block-img(src="img/about-mission-block5.png", alt="")
          
        .about-mission__block-content
          .about-mission__block-title компетентность
          .about-mission__block-text Компетентный персонал, мотивированный возможностью профессиональной самореализации
          
      .about-mission__block(data-slide="5")
        .about-mission__block-left
          img.about-mission__block-img(src="img/about-mission-block6.png", alt="")
          
        .about-mission__block-content
          .about-mission__block-title партнерство
          .about-mission__block-text Пунктуальный поставщик, внимательный к интересам  партнеров 
          
      .about-mission__block(data-slide="6")
        .about-mission__block-left
          img.about-mission__block-img(src="img/about-mission-block7.png", alt="")
          
        .about-mission__block-content
          .about-mission__block-title экспертность
          .about-mission__block-text Признанный эксперт, с мнением которого считаются в отрасти
        
