.post
  .post__block

  .wrapper
    .main-content__title
      a.main-content__title-link(href="") Пресс-центр

    .post__left
      .post__title Выставка EFEE 2013
      .post__text
        | Благодарим всех, кто посетил наш стенд на 7й
        a.post__link(href="")  международной выставке EFEE 2013.
        |  Выставка-конференция EFEE 2013 в Москве прошла успешно. «Мы будем рады новой встрече и взаимовыгодному сотрудничеству!»

      .post__subtitle Основные направления деятельности:
      .post__text Организация производств эмульсионных ВВ на горных предприятиях «под ключ»;
      ul.post__list
        li.post__item Модернизация действующих производств эмульсионных ВВ;
        li.post__item Поставка импортных смесительно-зарядных машин (СЗМ) и технологического оборудования для производства эмульсионных ВВ и ведения буровзрывных работ;
        li.post__item Поставка сырьевых материалов, запасных частей и расходных материалов для СЗМ и поставляемого технологического оборудования.

      .post__slider.js-post-slider
        .post__slide
          img.post__slide-img(src="img/post/slide1.jpg", alt="")
          .post__slide-text Стенд AV group на выставке EFEE 2013.

        .post__slide
          img.post__slide-img(src="img/post/slide1.jpg", alt="")
          .post__slide-text Стенд AV group на выставке EFEE 2013.

        .post__slide
          img.post__slide-img(src="img/post/slide1.jpg", alt="")
          .post__slide-text Стенд AV group на выставке EFEE 2013.

      iframe(width="641", height="380", src="https://www.youtube.com/embed/gbTSl88k5pk", frameborder="0", allowfullscreen)

      .post__subscribe Опубликовано: 18.09.2013
      .post__share
        | Поделиться:
        a.post__share-link.vk(href="") vk.com
        a.post__share-link.fb(href="") facebook
        a.post__share-link.ok(href="") одноклассники
        a.post__share-link.gp(href="") Google +
        a.post__share-link.tw(href="") twitter


    .post__right
      .post__title Другие новости
      .main-content__press
        a.main-content__press-block.main-content__press-block--anons(href="")
          .main-content__press-time 22.06.2013
          .main-content__press-title Выставка EFEE 2016
          .main-content__press-text
            | Благодарим всех, кто посетил наш стенд на 7й международной выставке EFEE 2013. Выставка-конференция EFEE 2013 в Москве прошла успешно. Мы будем рады новой встрече и взаимовыгодному сотрудничеству!

            .main-content__press-link Подробнее

        a.main-content__press-block(href="", style="background: url(img/press1.jpg) 0 0 no-repeat")
          .main-content__press-move
            .main-content__press-time 22.06.2013
            .main-content__press-title ГК «АЗОТ-ВЗРЫВ» взорвала 1 миллиард кубов горной массы
            .main-content__press-text
              | Благодарим всех, кто посетил наш стенд на 7й международной выставке EFEE 2013 в Москве. Выставка прошла успешно. Мы будем рады новой встрече и взаимовыгодному сотрудничеству!

              .main-content__press-link Подробнее

        a.main-content__press-block(href="", style="background: url(img/press1.jpg) 0 0 no-repeat")
          .main-content__press-move
            .main-content__press-time 22.06.2013
            .main-content__press-title ГК «АЗОТ-ВЗРЫВ» взорвала 1 миллиард кубов горной массы
            .main-content__press-text
              | Благодарим всех, кто посетил наш стенд на 7й международной выставке EFEE 2013 в Москве. Выставка прошла успешно. Мы будем рады новой встрече и взаимовыгодному сотрудничеству!

              .main-content__press-link Подробнее

        a.main-content__press-block.main-content__press-block--anons(href="")
          .main-content__press-time 22.06.2013
          .main-content__press-title Выставка EFEE 2016
          .main-content__press-text
            | Благодарим всех, кто посетил наш стенд на 7й международной выставке EFEE 2013. Выставка-конференция EFEE 2013 в Москве прошла успешно. Мы будем рады новой встрече и взаимовыгодному сотрудничеству!

            .main-content__press-link Подробнее

      a.all-news(href="") Все новости
