.product
  .top-grey
  .wrapper
    .main-content__title
      a.main-content__title-link(href="") Буро-взрывные работы
      span.main-content__title--grey  &#8226; Патронированные

    .main-content__block.mb-50
      .main-content__info.main-content__info--325
        .title-grey Нитронит-П

        img(src="img/product.jpg")

      .main-content__info.main-content__info--630
        .fz-16.mb-10.bold.mt-50 Описание:
        .fz-16.mb-20 Капсюлечувствительные патронированные взрывчатые Нитронит-П предназначены для использования при взрывных работах в качестве патронов-боевиков для инициирования скважинных и шпуровых зарядов промышленных ВВ. Также может использоваться в качестве накладных зарядов для дробления негабаритов. Кроме этого применяется в сочетании с эмульсионными ВВ для формирования мощных водоустойчивых комбинированных зарядов ВВ и в сочетании с неводоустойчивыми ВВ для формирования зарядов ВВ в обводненной части скважин.
        .fz-16.mb-10.bold Применение:
        .fz-16.mb-20 На земной поверхности, допускается использование в условиях подземных горных выработок, не опасных по газу и пыли.
        .fz-16.mb-10.bold Технические характеристики:

        ul.table.fz-16.mb-30
          li.table-row.bg-grey.bd-t-grey
            .table-cell.w-360.p-y-9.p-l-8.bd-t-grey
              | Критический диаметр детонации
              br
              | открытого заряда, мм
            .table-cell.bd-t-grey
              .bold 14

          li.table-row.bd-t-grey
            .table-cell.w-360.p-y-9.p-l-8.bd-t-grey Кислородный баланс
            .table-cell.bd-t-grey
              .bold минус 1,7

          li.table-row.bg-grey.bd-t-grey
            .table-cell.w-360.p-y-9.p-l-8.bd-t-grey Тротиловый эквивалент по теплоте взрыва
            .table-cell.bd-t-grey
              .bold 0,74

          li.table-row.bd-t-grey
            .table-cell.w-360.p-y-9.p-l-8.bd-t-grey Водостойкость, %
            .table-cell.bd-t-grey
              .bold 100

          li.table-row.bg-grey.bd-t-grey
            .table-cell.w-360.p-y-9.p-l-8.bd-t-grey
              | Объем вредных газов
              br
              | (в пересчете на CO), л/кг
            .table-cell.bd-t-grey
              .bold 57

          li.table-row.bd-t-grey
            .table-cell.w-360.p-y-9.p-l-8.bd-tb-grey температурный диапазон применения
            .table-cell.bd-tb-grey
              .bold -30ºC — +55ºC


        .fz-16.mb-10.bold Номиналы:

        ul.table.fz-16.mb-30
          li.table-row.bg-grey.bd-t-grey
            .table-cell.w-240.p-y-9.p-l-8.bd-t-grey Диаметр, мм
            .table-cell.w-150.bd-t-grey
              .bold 32
            .table-cell.bd-t-grey
              .bold 60
            .table-cell.bd-t-grey
              .bold 90

          li.table-row.bd-t-grey
            .table-cell.w-240.p-y-9.p-l-8.bd-t-grey Масса, кг
            .table-cell.w-150.bd-t-grey
              .bold 0,25
            .table-cell.bd-t-grey
              .bold 1,0
            .table-cell.bd-t-grey
              .bold 3,5

          li.table-row.bg-grey.bd-t-grey
            .table-cell.w-240.p-y-9.p-l-8.bd-t-grey
              | Средняя плотность эвв
              br
              | в патроне, г/см³
            .table-cell.w-150.bd-t-grey
              .bold 1,10–1,14
            .table-cell.bd-t-grey
              .bold 1,13–1,25
            .table-cell.bd-t-grey
              .bold 1,15–1,25

          li.table-row.bd-t-grey
            .table-cell.w-240.p-y-9.p-l-8.bd-tb-grey
              | скорость денонации
              br
              | открытого заряда, км/с
            .table-cell.w-150.bd-tb-grey
              .bold 5,2–5,4
            .table-cell.bd-tb-grey
              .bold 5,9–6,1
            .table-cell.bd-tb-grey
              .bold 5,4–5,6

        .fz-16.mb-10.bold Материалы для скачивания:
        a.pdf-red.fz-16.td-u.mr-80(href="") Технические характеристики
        a.pdf-red.fz-16.td-u(href="") Паспорт продукта

    .main-content__title
      a.main-content__title-link(href="") Другие взрывчатые вещества

    ul.flex.jc-sb.mb-50
      li.min-infoBlock(style="background: url(img/product/product1.jpg) 0 bottom no-repeat")
        a.min-infoBlock--top(href="#") Нитронит-П

      li.min-infoBlock(style="background: url(img/product/product1.jpg) 0 bottom no-repeat")
        a.min-infoBlock--top(href="#") Нитронит-ПАС

      li.min-infoBlock(style="background: url(img/search/slide1.jpg) 0 bottom no-repeat")
        a.min-infoBlock--top(href="#")
          .min-infoBlock__link Коршун-М
          .min-infoBlock__link ДИН-П

      li.min-infoBlock(style="background: url(img/search/slide1.jpg) 0 bottom no-repeat")
        a.min-infoBlock--top(href="#")
          .min-infoBlock__link Коршун-М
          .min-infoBlock__link ДИН-П

      li.min-infoBlock(style="background: url(img/search/slide1.jpg) 0 bottom no-repeat")
        a.min-infoBlock--top(href="#")
          .min-infoBlock__link Коршун-М
          .min-infoBlock__link ДИН-П

      li.min-infoBlock(style="background: url(img/search/slide1.jpg) 0 bottom no-repeat")
        a.min-infoBlock--top(href="#")
          .min-infoBlock__link Коршун-М
          .min-infoBlock__link ДИН-П
