.map
  .wrapper
    .main-content__title
      .bold.before-red Карта сайта

    .map__content
      ul.map__block
        li
          a.map__title-link(href="") О компании

        li
          a.map__link(href="") География

        li
          a.map__link(href="") Миссия

        li
          a.map__link(href="") Эффективность

        li
          a.map__link(href="") Карьера

      ul.map__block
        li
          a.map__title-link(href="") Услуги и продукция
        li
          a.map__link(href="") Буровзрывные работы
        li
          a.map__link(href="") Взрывчатые вещества
        li
          a.map__link(href="") Средства инициирования
        li
          a.map__link(href="") Техника и оборудовани
        li
          a.map__link(href="") Прочее

      ul.map__block
        li
          a.map__title-link(href="") Техническая информация
        li
          a.map__link(href="") Справочная информация
        li
          a.map__link(href="") Инструкции и рекомендации
        li
          a.map__link(href="") Лицензии и разрешения

      ul.map__block
        li
          a.map__title-link(href="") Cоциальная ответственность
        li
          a.map__link(href="") Экологическая ответственность
        li
          a.map__link(href="") Охрана труда

      ul.map__block
        li
          a.map__title-link(href="") Пресс центр

      ul.map__block
        li
          a.map__title-link(href="") Контакты
