include ../../mixins/top-block.jade

+top-block('img/service.jpg')

.main-content.main-content__new.service
  .wrapper
    .main-content__title
      a.main-content__title-link(href="") Услуги и продукция

    .service_block
      .service_block__left
        .service_block__title Буро-Взрывные работы
        .service_block__text Буровзрывные работы производятся в различных горно-геологических и климатических условиях, на каменных карьерах, рудных месторождениях и угледобывающих предприятиях.

        .service_block__text На каждом месторождении решается комплекс различных инженерных задач. Важнейшими из них являются: обеспечение процентного соотношения кусков различной крупности во взорванной горной массе и минимальное разубоживание полезного ископаемого при соблюдении требований промышленной и экологической безопасности.

        .service_block__text При проектировании буровзрывных работ в целях выбора оптимального и экономически целесообразного варианта параметров буровзрывных работ применяется комплекс оборудования и программного обеспечения, позволяющий использовать 3D-модель уступа и буримых скважин и прогнозировать результаты массовых взрывов:

        ul.rb-list
          li.rb-item
            strong гранулометрического состава

          li.rb-item
            strong параметров развала взорванной горной массы

          li.rb-item
            strong сейсмического действия массового взрыва
            |  (скорость смещения грунта в основании охраняемых объектов)

          li.rb-item
            strong действия ударной воздушной волны и др.

      .service_block__right.fz-16
        .service_block__bd
          span.text-red AV Group —
          |  один из мировых лидеров в комплексном сервисе буровзрывных и горных работ.

        .service_block__slider
          .service_block__slide
            img(src="img/service/slide1.jpg", alt="")
            .service_block__slide--text Анализ результатов проведеных работ

          .service_block__slide
            img(src="img/service/slide1.jpg", alt="")
            .service_block__slide--text Анализ результатов проведеных работ

          .service_block__slide
            img(src="img/service/slide1.jpg", alt="")
            .service_block__slide--text Анализ результатов проведеных работ

    .accordion
      a.accordion__button.js-accordion-button(href="")
        .accordion__link каменные работы

      .accordion__content
        .accordion__block
          img.accordion__left(src="img/service/accordion/img1.jpg")
          .accordion__left.accordion__right
            .accordion__title Открытые
            .fz-16 На каждом месторождении решается комплекс различных инженерных задач. Важнейшими из них являются: обеспечение процентного соотношения кусков различной крупности во взорванной горной массе и минимальное разубоживание полезного ископаемого при соблюдении требований промышленной и экологической безопасности.

        .accordion__block
          img.accordion__left(src="img/service/accordion/img2.jpg")
          .accordion__left.accordion__right
            .accordion__title Закрытые
            .fz-16 Прогноз указанных выше параметров осуществляется с учетом горно-геологических характеристик и физико-механических свойств горных пород, слагаемых массив, а также характеристик применяемых взрывчатых веществ, с учетом конструкции скважинных зарядов, применяемых специальных средств при формировании скважинного заряда и забойки.

        a.accordion__close(href="") свернуть

      a.accordion__button.js-accordion-button(href="")
        .accordion__link Угольные работы

      .accordion__content
        .accordion__block
          img.accordion__left(src="img/service/accordion/img1.jpg")
          .accordion__left.accordion__right
            .accordion__title Открытые
            .fz-16 На каждом месторождении решается комплекс различных инженерных задач. Важнейшими из них являются: обеспечение процентного соотношения кусков различной крупности во взорванной горной массе и минимальное разубоживание полезного ископаемого при соблюдении требований промышленной и экологической безопасности.

        .accordion__block
          img.accordion__left(src="img/service/accordion/img2.jpg")
          .accordion__left.accordion__right
            .accordion__title Закрытые
            .fz-16 Прогноз указанных выше параметров осуществляется с учетом горно-геологических характеристик и физико-механических свойств горных пород, слагаемых массив, а также характеристик применяемых взрывчатых веществ, с учетом конструкции скважинных зарядов, применяемых специальных средств при формировании скважинного заряда и забойки.

        a.accordion__close(href="") свернуть

      a.accordion__button.js-accordion-button(href="")
        .accordion__link Рудные работы

      .accordion__content
        .accordion__block
          img.accordion__left(src="img/service/accordion/img1.jpg")
          .accordion__left.accordion__right
            .accordion__title Открытые
            .fz-16 На каждом месторождении решается комплекс различных инженерных задач. Важнейшими из них являются: обеспечение процентного соотношения кусков различной крупности во взорванной горной массе и минимальное разубоживание полезного ископаемого при соблюдении требований промышленной и экологической безопасности.

        .accordion__block
          img.accordion__left(src="img/service/accordion/img2.jpg")
          .accordion__left.accordion__right
            .accordion__title Закрытые
            .fz-16 Прогноз указанных выше параметров осуществляется с учетом горно-геологических характеристик и физико-механических свойств горных пород, слагаемых массив, а также характеристик применяемых взрывчатых веществ, с учетом конструкции скважинных зарядов, применяемых специальных средств при формировании скважинного заряда и забойки.

        a.accordion__close(href="") свернуть
