.main-content
  .wrapper
    .main-content__block
      .main-content__info.main-content__info--470
        .main-content__text
          span.main-content__text-red Группа компаний AV group — 
          | один из мировых лидеров в комплексном сервисе буровзрывных и горных работ, видит развитие своего бизнеса в разработке и внедрении передовых технологий своего сервиса, производстве инновационных взрывчатых материалов и средств инициирования, обеспечивающих максимальную экономическую эффективность и экологическую безопасность.
          
      .main-content__info.main-content__info--470
        .main-content__title
          a.main-content__title-link(href="") География AV group
          
        a(href="").main-content__map
          img.main-content__map-link(src="img/map.jpg", alt="")
      
    .main-content__title
      a.main-content__title-link(href="") Продукция
    
    form.main-content__search(action="")
      input.main-content__search-input(type="text", placeholder="Поиск товара по названию или артикулу")
      button.main-content__search-button
        
    .main-content__block.main-content__block--products
      .main-content__info.main-content__info--320(style="background: url(img/products-img1.jpg) 0 0 no-repeat")
        .main-content__info-title Взрывчатые вещества
        .main-content__info-text 
          | Группа компаний «Азот-Взрыв» производит широкий перечень промышленных взрывчатых веществ в разных регионах России, включая эмульсионные, смесевые, простейшие ВВ.
          
          a.main-content__info-link(href="") Каталог
            
      .main-content__info.main-content__info--320(style="background: url(img/products-img2.jpg) 0 0 no-repeat")
        .main-content__info-title Средства инициирования
        .main-content__info-text 
          | Группа компаний «Азот-Взрыв» производит широкий перечень промышленных взрывчатых веществ в разных регионах России, включая эмульсионные, смесевые, простейшие ВВ.
          
          a.main-content__info-link(href="") Каталог
      
      .main-content__info.main-content__info--320(style="background: url(img/products-img3.jpg) 0 0 no-repeat")
        .main-content__info-title Техника и оборудование
        .main-content__info-text 
          | Группа компаний «Азот-Взрыв» производит широкий перечень промышленных взрывчатых веществ в разных регионах России, включая эмульсионные, смесевые, простейшие ВВ.
          
          a.main-content__info-link(href="") Каталог
          
    .main-content__block
      .main-content__info.main-content__info--effective
        .main-content__title
          a.main-content__title-link(href="") Эффективность AV group

        .main-content__item.main-content__item--first
          .main-content__item-title Более 6,750
          .main-content__item-text предприятий, обеспечивающих  экономическую эффективность и экологическую ответственность
          
        .main-content__item
          .main-content__item-title 150 000
          .main-content__item-text Компетентные персонал, мотивированный возможностью профессиональной самореализации 
          
        .main-content__item
          .main-content__item-title 78%
          .main-content__item-text Интегральная система персональной ответственности на всех участках, конфиденциальность и сохранность информации
          
        .main-content__item
          .main-content__item-title 2000
          .main-content__item-text год основания
            
      .main-content__info.main-content__info--services
        .main-content__title
          a.main-content__title-link(href="") Услуги
          
        .main-content__item.main-content__item--first
          .main-content__slide-top
            .main-content__item-title Буровзрывные работы
            .main-content__item-text 
            | Мы предлогаем вам ведение комплекса 
            a.main-content__item-link(href="") угольных 
            | и  
            a.main-content__item-link(href="") рудных 
            | буровзрывных работ, а так-же сопутсвующие 
            a.main-content__item-link(href="") строительные материалы 
            | , для получения качественно взорванной горной массы по фиксированной цене.
          
            a.main-content__item-link.main-content__item-link--more(href="") Подробнее
            
          .main-content__slider.js-main-content-slider
            img.main-content__slide-img(src="img/slide1.jpg", alt="")
            
            img.main-content__slide-img(src="img/slide1.jpg", alt="")

            img.main-content__slide-img(src="img/slide1.jpg", alt="")
                  
    .main-content__block
      .main-content__info.main-content__info--support
        .main-content__title
          a.main-content__title-link(href="") Техническая информация
          
        .main-content__calculator
          .main-content__calculator-top
            button.main-content__calculator-button.js-calculator-button.active(data-calculator="calculation")
              span Расчет вместимости взрывчатого вещества
            button.main-content__calculator-button.js-calculator-button(data-calculator="interactive")
              span Расчет выхода горной массы
            
          .main-content__calculator-bottom
            form.main-content__calculator-form.js-calculation
              .main-content__calculator-block
                .main-content__calculator-text Диаметр взрывчатого вещества
                input.main-content__calculator-input(type="text", placeholder="0.00")
                span.main-content__calculator-text мм
              
              .main-content__calculator-block.main-content__calculator-block--last
                .main-content__calculator-text Плотность заряжания
                input.main-content__calculator-input(type="text", placeholder="0.00")
                span.main-content__calculator-text г/см3
              
              div
                span.main-content__calculator-red 
                  | Вместимость
                  br
                  | на метр скважины
                  
                input.main-content__calculator-inputKg(type="text", placeholder="0")
                span.main-content__calculator-kg кг
                button.main-content__calculator-calculate Рассчитать
              
            form.main-content__calculator-form.js-interactive
              .main-content__calculator-block
                .main-content__calculator-text 
                  | Расстояние между 
                  br
                  | рядами скважин
                input.main-content__calculator-input(type="text", placeholder="1.00")
                span.main-content__calculator-text м
              
              .main-content__calculator-block.main-content__calculator-block--last
                .main-content__calculator-text 
                  | Расстояние между 
                  br
                  | скважинами в ряду
                input.main-content__calculator-input(type="text", placeholder="1.00")
                span.main-content__calculator-text м
                
              div
                span.main-content__calculator-red 
                  | Выход с погонного 
                  br
                  | метра скважины

                span.main-content__calculator-kg 
                  | 1м
                  sup 3
              
            
      .main-content__info.main-content__info--technical
        .main-content__title
          a.main-content__title-link(href="") Информационная поддержка
          
        .main-content__item
          img.main-content__item-img(src="img/support-info.jpg", alt="")
          a.main-content__item-title(href="") Справочная информация
          .main-content__item-text Таблицы измерений и справочные данные
          
        .main-content__item
          img.main-content__item-img(src="img/instructions.jpg", alt="")
          a.main-content__item-title(href="") Инструкции и рекомендации
          .main-content__item-text Видео-ролики и другие материалы с инструкциями по использованию продукции AV Group 
          
        .main-content__item
          img.main-content__item-img(src="img/license.jpg", alt="")
          a.main-content__item-title(href="") Лицензии и разрешения
          .main-content__item-text Техническая документация, лицензии и разрешения на применение, а также относящиеся к разделу сертификаты
          
    .main-content__title
      a.main-content__title-link(href="") Пресс-центр      

    .main-content__press
      a.main-content__press-block.main-content__press-block--anons(href="")
        .main-content__press-time 22.06.2013
        .main-content__press-title Выставка EFEE 2016
        .main-content__press-text 
          | Благодарим всех, кто посетил наш стенд на 7й международной выставке EFEE 2013. Выставка-конференция EFEE 2013 в Москве прошла успешно. Мы будем рады новой встрече и взаимовыгодному сотрудничеству!
          
          .main-content__press-link Подробнее
          
      a.main-content__press-block(href="", style="background: url(img/press1.jpg) 0 0 no-repeat")
        .main-content__press-move
          .main-content__press-time 22.06.2013
          .main-content__press-title ГК «АЗОТ-ВЗРЫВ» взорвала 1 миллиард кубов горной массы
          .main-content__press-text 
            | Благодарим всех, кто посетил наш стенд на 7й международной выставке EFEE 2013 в Москве. Выставка прошла успешно. Мы будем рады новой встрече и взаимовыгодному сотрудничеству!
            
            .main-content__press-link Подробнее
      
      a.main-content__press-block(href="", style="background: url(img/press2.jpg) 0 0 no-repeat")
        .main-content__press-move
          .main-content__press-time 22.06.2013
          .main-content__press-title ГК «АЗОТ-ВЗРЫВ» взорвала 1 миллиард кубов горной массы
          .main-content__press-text 
            | Благодарим всех, кто посетил наш стенд на 7й международной выставке EFEE 2013 в Москве. Выставка прошла успешно. Мы будем рады новой встрече и взаимовыгодному сотрудничеству!
            
            .main-content__press-link Подробнее
