.main-block.js-main-block-slider
  .main-block__slide(style='background-image: url(img/index/main.jpg)')
    .wrapper
      .main-block__content
        h1.main-block__title
          | Экспертиза
          br
          span.main-block__title--span и управление

        .main-block__subtitle
          | Производственная
          br
          | и Экологическая безопасность —
          | залог нашего успеха

        a.main-block__social(href='') Cоциальная ответственность

  .main-block__slide(style='background-image: url(img/index/main2.jpg)')
    .wrapper
      .main-block__content
        h1.main-block__title
          | Сила
          br
          span.main-block__title--span трансформации

        .main-block__subtitle
          | Система сервисов для роста бизнеса наших клиентов

        a.main-block__social(href='') О компании

  .main-block__slide(style='background-image: url(img/index/main3.jpg)')
    .wrapper
      .main-block__content
        h1.main-block__title
          | Алгоритм
          br
          span.main-block__title--span эффективности

        .main-block__subtitle
          | Иновационные производства взрывчатых веществ и средств инициирования.

        a.main-block__social(href='') Продукция
