.main-block.js-main-block-slider
  .main-block__slide(style='background-image: url(img/main.jpg)')
    .wrapper
      .main-block__content
        h1.main-block__title
          | Экспертиза
          br
          span.main-block__title--span и управление
          
        .main-block__subtitle
          | Производственная 
          br
          | и Экологическая безопасность —
          | залог нашего успеха
          
        .main-block__social Cоциальная ответственность
        
  .main-block__slide(style='background-image: url(img/main.jpg)')
    .wrapper
      .main-block__content
        h1.main-block__title
          | Экспертиза
          br
          span.main-block__title--span и управление
          
        .main-block__subtitle
          | Производственная 
          br
          | и Экологическая безопасность —
          | залог нашего успеха
          
        .main-block__social Cоциальная ответственность
              
  .main-block__slide(style='background-image: url(img/main.jpg)')
    .wrapper
      .main-block__content
        h1.main-block__title
          | Экспертиза
          br
          span.main-block__title--span и управление
          
        .main-block__subtitle
          | Производственная 
          br
          | и Экологическая безопасность —
          | залог нашего успеха
          
        .main-block__social Cоциальная ответственность
