.about-career {
  @include cl;
  padding-bottom: 70px;

  &__left {
    font-size: 16px;
    line-height: 20px;
    float: left;
    width: 630px;
  }

  &__right {
    float: right;
    font-size: 14px;
    line-height: 18px;
    width: 318px;
  }

  &__title {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #616369;
    margin-bottom: 3px;
    display: inline-block;
    font-family: "helioscondcbold";

    &:hover {
      text-decoration: none;
      color: #cd2c2c;
    }
  }

  &__text {
    margin-bottom: 10px;
  }
}
