.about-title {
  color: #cd2c2c;
  @include blockTitle;
}

.about-mission {
  &__slider {
    float: right;
    width: 666px;
    height: 420px;

    .slick-dots {
      bottom: 17px;
    }
  }

  &__slide {
    outline: 0;
    height: 420px;
  }

  &__left {
    float: left;
    width: 330px;
    padding-right: 12px;
  }

  &__title {
    font-size: 27px;
    line-height: 31px;
    color: #616369;
    text-transform: uppercase;
    font-family: $helios;
    margin-bottom: 17px;
  }

  &__red {
    font-size: 16px;
    line-height: 20px;
    font-family: $seraMed;
    color: #cd2c2c;
  }

  &__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 45px;
  }

  &__top {
    @include cl;
  }

  &__bottom {
    font-size: 0;
  }

  &__block {
    width: 333px;
    margin-bottom: 50px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;

    &-left {
      display: inline-block;
      vertical-align: top;
      margin-right: 14px;
      width: 99px;
      height: 99px;
      background: #e6e7e8;
      position: relative;
    }

    &-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &-content {
      display: inline-block;
      vertical-align: top;
      width: 210px;
      padding-right: 10px;
    }

    &-title {
      font-size: 21px;
      line-height: 24px;
      color: #cd2c2c;
      text-transform: uppercase;
      margin-bottom: 3px;
    }

    &-text {
      font-size: 14px;
      line-height: 17px;
    }

    &:hover, &.active {
      .about-mission__block-title {
        font-weight: bold;
      }

      .about-mission__block-left {
        background: #adb0ba;
      }
    }
  }
}

.slider_block {
  @include cl;

  &__slider {
    float: right;
    width: 666px;
    height: 420px;

    .slick-dots {
      bottom: 17px;
    }
  }

  &__slide {
    outline: 0;
    height: 420px;
  }

  &__left {
    float: left;
    width: 310px;
    padding-right: 12px;
  }

  &__title {
    font-size: 27px;
    line-height: 31px;
    color: #616369;
    text-transform: uppercase;
    font-family: $helios;
    margin-bottom: 17px;
  }

  &__red {
    font-size: 16px;
    line-height: 20px;
    font-family: $seraMed;
    color: #cd2c2c;
  }

  &__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 45px;
  }

  &__top {
    @include cl;
  }

  &__left--310 {
    width: 310px;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-15 {
  margin-bottom: 15px;
}

@media screen and (max-width: 1120px) {
  .about-mission {
    &__left {
      width: 320px;
    }

    &__slider {
      width: 650px;
    }

    &__block {
      width: 326px;
    }
  }
}
